{% include "../_partial/head.html" %}
<section class="market navbar-footer-empty">
    <ul class="am-avg-sm-2 navbar">
        <li class="navbar-li narbar-li-line active">餐吧</li>
        <li class="navbar-li">运动装备</li>
    </ul>
    <div class="am-g h5-item">
        <div class="am-u-sm-8">上海浦东PLUS乐坊店</div>
        <div class="am-u-sm-4 am-text-right"><i class="am-icon-map" aria-hidden="true"></i>&nbsp;&nbsp;查看地图</div>
    </div>
    <ul class="am-list no-margin product-list">
        <li>
            <ul class="am-g product-item-row">
                <li class="am-u-sm-4 product-pic">
                    <img src="/img/shoptest.jpg">
                </li>
                <li class="am-u-sm-6 product-info">
                    <p class="title">焦糖玛奇朵</p>
                    <p class="price">¥ 36.00</p>
                    <p class="vipPrice">会员价：¥ 24.00</p>
                </li>
                <li class="am-u-sm-2 arrow-right">
                    <i class="am-icon-angle-right am-icon-lg"></i>
                </li>
            </ul>
        </li>
        <li>
            <ul class="am-g product-item-row">
                <li class="am-u-sm-4 product-pic">
                    <img src="/img/shoptest.jpg">
                </li>
                <li class="am-u-sm-6 product-info">
                    <p class="title">焦糖玛奇朵</p>
                    <p class="price">¥ 36.00</p>
                    <p class="vipPrice">会员价：¥ 24.00</p>
                </li>
                <li class="am-u-sm-2 arrow-right">
                    <i class="am-icon-angle-right am-icon-lg"></i>
                </li>
            </ul>
        </li>
        <li>
            <ul class="am-g product-item-row">
                <li class="am-u-sm-4 product-pic">
                    <img src="/img/shoptest.jpg">
                </li>
                <li class="am-u-sm-6 product-info">
                    <p class="title">焦糖玛奇朵</p>
                    <p class="price">¥ 36.00</p>
                    <p class="vipPrice">会员价：¥ 24.00</p>
                </li>
                <li class="am-u-sm-2 arrow-right">
                    <i class="am-icon-angle-right am-icon-lg"></i>
                </li>
            </ul>
        </li>
        <li>
            <ul class="am-g product-item-row">
                <li class="am-u-sm-4 product-pic">
                    <img src="/img/shoptest.jpg">
                </li>
                <li class="am-u-sm-6 product-info">
                    <p class="title">焦糖玛奇朵</p>
                    <p class="price">¥ 36.00</p>
                    <p class="vipPrice">会员价：¥ 24.00</p>
                </li>
                <li class="am-u-sm-2 arrow-right">
                    <i class="am-icon-angle-right am-icon-lg"></i>
                </li>
            </ul>
        </li>
        <li>
            <ul class="am-g product-item-row">
                <li class="am-u-sm-4 product-pic">
                    <img src="/img/shoptest.jpg">
                </li>
                <li class="am-u-sm-6 product-info">
                    <p class="title">焦糖玛奇朵</p>
                    <p class="price">¥ 36.00</p>
                    <p class="vipPrice">会员价：¥ 24.00</p>
                </li>
                <li class="am-u-sm-2 arrow-right">
                    <i class="am-icon-angle-right am-icon-lg"></i>
                </li>
            </ul>
        </li>
        <li>
            <ul class="am-g product-item-row">
                <li class="am-u-sm-4 product-pic">
                    <img src="/img/shoptest.jpg">
                </li>
                <li class="am-u-sm-6 product-info">
                    <p class="title">焦糖玛奇朵</p>
                    <p class="price">¥ 36.00</p>
                    <p class="vipPrice">会员价：¥ 24.00</p>
                </li>
                <li class="am-u-sm-2 arrow-right">
                    <i class="am-icon-angle-right am-icon-lg"></i>
                </li>
            </ul>
        </li>
        <li>
            <ul class="am-g product-item-row">
                <li class="am-u-sm-4 product-pic">
                    <img src="/img/shoptest.jpg">
                </li>
                <li class="am-u-sm-6 product-info">
                    <p class="title">焦糖玛奇朵</p>
                    <p class="price">¥ 36.00</p>
                    <p class="vipPrice">会员价：¥ 24.00</p>
                </li>
                <li class="am-u-sm-2 arrow-right">
                    <i class="am-icon-angle-right am-icon-lg"></i>
                </li>
            </ul>
        </li>
    </ul>
</section>
{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
