{% include "../_partial/head.html" %}
<section class="payment">
    <header>
        <ul class="am-g header-panel">
            <li class="am-u-sm-2">
                <i class="am-icon-angle-left am-icon-lg"></i>
            </li>
            <li class="am-u-sm-10"></li>
        </ul>
        <ul class="am-g pay-info">
            <li class="am-u-sm-3">
                <img src="/img/shopbanner.jpg">
            </li>
            <li class="am-u-sm-9">
                <p class="title">焦糖玛奇朵</p>
                <p>¥45.00</p>
                <p>数量：2杯 热 中杯</p>
                <p>预计消费时间：2016-04-20 14:25:34</p>
                <p>上海浦东PLUS乐坊店</p>
            </li>
        </ul>
    </header>
</section>
{% include "../_partial/foot.html" %}
