{% include "../_partial/head.html" %}
<section class="productDetail">
    <header>
        <ul class="am-g header-panel">
            <li class="am-u-sm-3">
                <i class="am-icon-angle-left am-icon-lg"></i>
            </li>
            <li class="am-u-sm-9"></li>
        </ul>
        <img src="/img/shopbanner.jpg">
    </header>
    <ul class="am-list no-margin product-detail-list">
        <li>
            <p class="title">焦糖玛奇朵</p>
            <p>¥ 89.00</p>
            <p>会员：45.00</p>
            <p>月销 180 杯 <span class="shop-address">上海浦东PLUS乐坊店&nbsp;&nbsp;<i class="am-icon-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;查看地图</span></p>
        </li>
        <li>
            <hr data-am-widget="divider" class="am-divider am-divider-default" />
        </li>
        <li class="spec">
            <div class="spec-row">
                数量：
                <div class="control">
                    <p class="minus">－</p>
                    <p class="number">
                        <input type="text" readonly="readonly" value="1">
                    </p>
                    <p class="plus">+</p>
                </div>
            </div>
            <div class="spec-row">热度：
                <p class="spanBlock">热</p>
                <p class="spanBlock">冷</p>
            </div>
            <div class="spec-row">规格：
                <p class="spanBlock">大杯</p>
                <p class="spanBlock">中杯</p>
                <p class="spanBlock">小杯</p>
            </div>
        </li>
        <li>
            <hr data-am-widget="divider" class="am-divider am-divider-default" />
        </li>
        <li>
            <p>预计消费时间：2016-04-25 11:25</p>
        </li>
        <li>
            <div class="buy">
                <a class="am-btn am-btn-lg am-btn-danger" href="#" target="_blank">立即购买</a>
            </div>
        </li>
    </ul>
    <ul class="am-list product-info-commentary">
        <li>
            <ul class="am-avg-sm-2 tabs">
                <li>
                    <p class="t">商品详情</p>
                </li>
                <li class="active">
                    <p class="t">评论</p>
                </li>
            </ul>
        </li>
        <li class="info">
            <img src="/img/shopbanner.jpg">
            <img src="/img/shopbanner.jpg">
            <img src="/img/shopbanner.jpg">
            <img src="/img/shopbanner.jpg">
        </li>
        <li class="commentary">
            <ul class="am-list">
                <li>
                    <div class="line-1">
                        <img src="/img/shopbanner.jpg">
                        <span class="name">Jack</span>
                        <p class="spec">
                            <span>2016/4/12</span>
                            <span>冷</span>
                            <span>大杯</span>
                        </p>
                    </div>
                    <p class="line-2">啊但是饭卡圣诞节罚款接受对方拉开的肌肤</p>
                </li>
                <li>
                    <hr data-am-widget="divider" class="am-divider am-divider-default" />
                </li>
                <li>
                    <div class="line-1">
                        <img src="/img/shopbanner.jpg">
                        <span class="name">Jack</span>
                        <p class="spec">
                            <span>2016/4/12</span>
                            <span>冷</span>
                            <span>大杯</span>
                        </p>
                    </div>
                    <p class="line-2">啊但是饭卡圣诞节罚款接受对方拉开的肌肤</p>
                </li>
                <li>
                    <hr data-am-widget="divider" class="am-divider am-divider-default" />
                </li>
                <li>
                    <div class="line-1">
                        <img src="/img/shopbanner.jpg">
                        <span class="name">Jack</span>
                        <p class="spec">
                            <span>2016/4/12</span>
                            <span>冷</span>
                            <span>大杯</span>
                        </p>
                    </div>
                    <p class="line-2">啊但是饭卡圣诞节罚款接受对方拉开的肌肤</p>
                </li>
                <li>
                    <hr data-am-widget="divider" class="am-divider am-divider-default" />
                </li>
                <li>
                    <div class="line-1">
                        <img src="/img/shopbanner.jpg">
                        <span class="name">Jack</span>
                        <p class="spec">
                            <span>2016/4/12</span>
                            <span>冷</span>
                            <span>大杯</span>
                        </p>
                    </div>
                    <p class="line-2">啊但是饭卡圣诞节罚款接受对方拉开的肌肤</p>
                </li>
                <li>
                    <hr data-am-widget="divider" class="am-divider am-divider-default" />
                </li>
                <li>
                    <div class="line-1">
                        <img src="/img/shopbanner.jpg">
                        <span class="name">Jack</span>
                        <p class="spec">
                            <span>2016/4/12</span>
                            <span>冷</span>
                            <span>大杯</span>
                        </p>
                    </div>
                    <p class="line-2">啊但是饭卡圣诞节罚款接受对方拉开的肌肤</p>
                </li>
                <li>
                    <hr data-am-widget="divider" class="am-divider am-divider-default" />
                </li>
                <li>
                    <div class="line-1">
                        <img src="/img/shopbanner.jpg">
                        <span class="name">Jack</span>
                        <p class="spec">
                            <span>2016/4/12</span>
                            <span>冷</span>
                            <span>大杯</span>
                        </p>
                    </div>
                    <p class="line-2">啊但是饭卡圣诞节罚款接受对方拉开的肌肤</p>
                </li>
                <li>
                    <hr data-am-widget="divider" class="am-divider am-divider-default" />
                </li>
                <li>
                    <div class="line-1">
                        <img src="/img/shopbanner.jpg">
                        <span class="name">Jack</span>
                        <p class="spec">
                            <span>2016/4/12</span>
                            <span>冷</span>
                            <span>大杯</span>
                        </p>
                    </div>
                    <p class="line-2">啊但是饭卡圣诞节罚款接受对方拉开的肌肤</p>
                </li>
                <li>
                    <hr data-am-widget="divider" class="am-divider am-divider-default" />
                </li>
                <li>
                    <div class="line-1">
                        <img src="/img/shopbanner.jpg">
                        <span class="name">Jack</span>
                        <p class="spec">
                            <span>2016/4/12</span>
                            <span>冷</span>
                            <span>大杯</span>
                        </p>
                    </div>
                    <p class="line-2">啊但是饭卡圣诞节罚款接受对方拉开的肌肤</p>
                </li>
                <li>
                    <hr data-am-widget="divider" class="am-divider am-divider-default" />
                </li>
            </ul>
        </li>
    </ul>
</section>
{% include "../_partial/foot.html" %}
