{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="single-class">
    <div class="pub-title">
        <div class="fl">
            <span id="surplus">剩余猫粮：<em></em></span>
        </div>
        <div class="fr">
            <a href="javascript:void(0)" class="red" data-am-modal="{target: '#rule-popup'}">如何获取猫粮？</a>
        </div>
    </div>
    <div class="pub-tab skin0">
        <ul class="tab-catfood">
            <li>
                <a href="javascript:void(0)" class="cur" data-status='1'>收入</a>
            </li>
            <li>
                <a href="javascript:void(0)" data-status='2'>支出</a>
            </li>
        </ul>
    </div>
    <div class="pub-list skin4 mt-05rem">
        <hr>
        <ul>
            <p class="pub_nodata">暂无猫粮记录！</p>
        </ul>
    </div>
</section>

<!-- 请假规则 -->
<div class="am-popup content-dialog" id="rule-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">如何获取猫粮？</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;引申义:一切可以让我们认知与使用任何事物的指导内容，都是该事物的"游戏规则"。比如:说明书、事物的特性、原理、原则、各地的风俗、守则、道德、甚至是法律、以致所谓的"道"...等等，无不是现实中"游戏规则"。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本词条 百科名片缺少图片, 欢迎各位 编辑词条，额外获取10个金币。
本人探索生活，有幸窥见"现实游戏规则"这个思路。经多年探讨，遂得到一些相关的认知。但是现实"游戏规则"的涵义之广，非是能够奢望使用只字片语就能解译得清楚的。<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现实"游戏规则"等同于道，现实"游戏规则"就是一切事物的根本。正如游戏开发工程师们，无法设计出任何一款没有游戏规则的游戏一样。而现实世界、现实任何事物，的开发总工程师是"老天"，这里面同样是不存在任何没有游戏规则的"游戏"。因此，我们想要认知与使用任何事物，就必须从现实"游戏规则"开始。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;指导与要求如何玩游戏的内容就是游戏规则，游戏规则本身又有些什么规则、特性、作用?要剖释现实"游戏规则"，实属一言难尽。如若对现实"游戏规则"感兴趣，也可以搜索一下本人的其他相关发言。
        </div>
    </div>
</div>
{% include "../_partial/foot.html" %}
<script src="/js/profile/catfood.js"></script>