{% include "../_partial/head.html" %}
<style type="text/css">
body {
    background-color: #e6e6e6
}
</style>
<section class="single-class">
    <div class="pub-title">
        <div class="fl">
            <span>总剩余课时:</span><span class="number">0</span>
        </div>
    </div>
</section>
<hr class="hrm0">
<section class="single-class">
    <div class="pub-list class-list recharge-record">
        <!-- <hr> -->
        <ul>
            <li><i class="am-icon-dot-circle-o"></i><p class="pub_nodata">暂无充值记录！</p></li>
        </ul>
        <div class="pub-rbtn mt0 fixed_btn">
            <a href="/profile/recharge.html" class="btn btn-red mr0">充值</a>
        </div>
    </div>
</section>
{% include "../_partial/foot.html" %}
<script src="/js/profile/recharge-record.js"></script>