{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<script type="text/javascript">
    var courseId = "{{courseId}}";
    var onceId = "{{onceId}}";
</script>
<section class="submit-class">
   <!-- <div class="pub-pinfo">
        <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
        <div class="info">
          <h2>毒毒怪</h2>
          <p class="address">上海浦东PLUS乐坊店</p>
          <p class="time">2016-03-08  周二19:00-20:00</p>
          <p class="teacher">教练：LIDA</p>
        </div>
    </div>
    <hr class="hr">
    <div class="pub-list skin0">
        <hr>
        <ul class="comment">
            <li>
                <i class="am-icon-dot-circle-o"><em>评分</em></i>
                <div class="list-info">
                    <div class="scal">
                        <span>综合评分</span>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                    </div>
                    <div class="scal">
                        <span>教练评分</span>
                        <i class="am-icon-star-o"></i>
                        <i class="am-icon-star-o"></i>
                        <i class="am-icon-star-o"></i>
                        <i class="am-icon-star-o"></i>
                        <i class="am-icon-star-o"></i>
                    </div>
                </div>
            </li>
            <li>
                <i class="am-icon-dot-circle-o"><em>感受</em></i>
                <div class="list-info">
                    <div class="list">
                        <p><a href="#"><i class="am-icon-circle"></i>强度超大，半条命已丢</a></p>
                        <p><a href="#"><i class="am-icon-circle-thin"></i>可以适应，偶偶偷懒</a></p>
                        <p><a href="#"><i class="am-icon-circle-thin"></i>完胜，就怕你不行</a></p>
                    </div>
                </div>
            </li>
            <li>
                <i class="am-icon-dot-circle-o"><em>打赏</em></i>
                <div class="list-info">
                    <div class="pub-num fl">
                        <span>打赏教练：</span>
                        <div class="num">
                            <a class="min" href="javascript:;">-</a>
                            <input name="" value="0" class="buy_num" type="text">
                            <a href="javascript:;" class="add">+</a>
                        </div>
                        <span>颗猫粮</span>
                    </div>
                </div>
                <div class="pub-ps">*剩余猫粮数：100颗</div>
            </li>
            <li>
                <i class="am-icon-dot-circle-o"><em>留言</em></i>
                <div class="list-info">
                    <textarea placeholder="别让互动的小船说翻就翻哈，，，， "></textarea>
                    <div class="pub-btn skin0">
                        <a href="javascript:void(0)" class="btn">发表评论</a>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->
</section>

{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
<script src="/js/profile/comment-class.js"></script>