{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="single-class">
    <div class="pub-title">
        <div class="fr">
            <a href="javascript:void(0)" class="red" data-am-modal="{target: '#rule-popup'}">作业规则</a>
        </div>
    </div>
    <div class="pub-tab skin0">
        <ul>
            <li>
                <a href="./profile/single-calss.html">未完成</a>
            </li>
            <li>
                <a href="../profile/done-calss.html" class="cur">已完成</a>
            </li>
        </ul>
        <div class="data-sort">
            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}">
              <input type="text" class="am-form-field" value="2016-04-12" readonly>
              <span class="am-input-group-btn am-datepicker-add-on">
                <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
              </span>
            </div>
        </div>
    </div>
    <div class="pub-list class-list">
        <hr>
        <ul>
            <li>
                <i class="am-icon-dot-circle-o"></i>
                <div class="list-info left">
                    <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
                    <div class="info left">
                       <h2>毒毒怪</h2>
                       <p class="time">2016-03-08  周二19:00-20:00</p>
                       <p class="address">上海浦东PLUS乐坊店</p>
                    </div>
                    <div class="pub-btn">
                        <a href="./profile/comment-calss.html" class="btn btn-red">评价</a>
                        <a href="./profile/submit-class.html" class="btn btn-red">作业</a>
                    </div>
                </div>
            </li>
            <li>
                <i class="am-icon-dot-circle-o"></i>
                <div class="list-info left">
                    <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
                    <div class="info">
                       <h2>毒毒怪</h2>
                       <p class="time">2016-03-08  周二19:00-20:00</p>
                       <p class="address">上海浦东PLUS乐坊店</p>
                    </div>
                    <div class="pub-btn">
                        <a href="./profile/comment-calss.html" class="btn btn-red">评价</a>
                        <a href="./profile/submit-class.html" class="btn btn-red">作业</a>
                    </div>
                </div>
            </li>
            <li>
                <i class="am-icon-dot-circle-o"></i>
                <div class="list-info left">
                    <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
                    <div class="info">
                       <h2>毒毒怪</h2>
                       <p class="time">2016-03-08  周二19:00-20:00</p>
                       <p class="address">上海浦东PLUS乐坊店</p>
                    </div>
                    <div class="pub-btn">
                        <a href="./profile/comment-calss.html" class="btn btn-red">评价</a>
                        <a href="./profile/submit-class.html" class="btn btn-red">作业</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- 请假规则 -->
<div class="am-popup content-dialog" id="rule-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
           请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则
        </div>
    </div>
</div>
{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
