{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<input type="hidden" value="{{specialId}}" id='specialId'>
<div class="till-class">
    <section class="single-class">
        <div class="pub-title">
            <div class="fr">
                <a href="javascript:void(0)" class="red" data-am-modal="{target: '#rule-popup'}">课程制度</a>
            </div>
        </div>
        <div class="pub-pinfo skin0 mt-2rem">
            <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫" id="imgUrl"></div>
            <div class="info">
              <h2 id="className"></h2>
              <p id="storeAddress" class="address"></p>
              <p class="time"><em id="startDate"></em> <em id="week"></em></p>
              <p class="teacher">共<em id="courseNum"></em>次课</p>
            </div>
        </div>
   </section>
   <hr class="hr">
   <section class="single-class" id="ll">
        <div class="pub-tab skin0">
            <ul>
                <li>
                    <a href="/profile/till.html?specialId={{specialId}}" data-status="0">未完成</a>
                </li>
                <li>
                    <a href="/profile/done-till.html?specialId={{specialId}}" class="cur" data-status="1">已完成</a>
                </li>
            </ul>
        </div>
        <div class="pub-list skin3 class-list">
            <hr>
            <ul>
                <p class="pub_nodata">暂无特训营记录！</p>
            </ul>
        </div>
    </section>
</div>

<!-- 请假规则 -->
<div class="am-popup content-dialog" id="rule-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
           <strong>一、健身流程：</strong>（1）第一步：关注公众号Runningcat007（并注册账号），（2）第二步：购买课时；（3）第三步：预约课程；（4）第四步：上课签到；（5）第五步：课程评价；（6）第六步：赚钱猫粮。<br>
<strong>二、联络途径：</strong>学员可通过跑步猫微信公众号自助平台、APP、电话，到店等途径进行课程的咨询，购买，预约，请假，课时冻结，课时转让申请等。<br>
<strong>三、课时有效期</strong><br>
（1）购买不同数量的课时数，对应有效期不同，详情请见如下举例说明： 
（a）购买1～11课时的，课时有效期为3个月，所买课时须在3个月内消完课，否则自动冻结课时。<br>
（b）购买12～23课时的，课时有效期为6个月，所买课时须在6个月内消完课，否则自动冻结课时。<br>
（c）购买24～47课时的，课时有效期为12个月，所买课时须在12个月内消完课，否则自动冻结课时<br>
（d）购买48～72课时的（含72课时），课时有效期为18个月，课时须在18个月内消完课，否则自动冻结课时。目前单次最多只能购买72课时，但可以多次购买。<br>
（2）学员每次购买课时或接受第三方转让的课时，其有效期和消课都是独立的，互不影响！ <br>
（3）学员购买课时过程中， 赠送的课时连同购买课时是一个有效期。比如学员购买48课时，赠送了12课时，那么这60课时的有效期还是按18个月算。<br>
（4）学员通过他人转让获取的课时，接受到课时有效期保持不变，即原课时有效期截止日期不变，举例说明：比如A学员有25课时，有效期截止日期为3月18日，他要出国，联系到B学员，达成协议，A学员将25课时转让给B学员，B学员获取到了这25课时的有效期截止日期也会是3月18日（截止日期不变）；比如A学员有25课时，有效期截止日期为3月18日，他要去西藏旅游，联系到B学员，达成协议，A学员将10个课时转让给B学员，B学员获取到了这10课时的有效期截止日期也会是3月18日（截止日期不变），A学员剩余的15个课时的有效期截止日期也会是3月18日（截止日期不变）；<br>
（5）学员在课时正常的情况下，预约了后面的课程（含特训营课程），课时有效期结束了后，课程才开始上，学员上课又做了请假。请假会将课时返还到学员原订单中，因为订单的课时有效期已经结束，所以返回的课时处于冻结状态，需要办理订单延长有效期并激活后才能使用。举例说明：A学员现在账号里有2课时，2月28到期，学员在2月27日约了3月2号一次课，3月3号的一次课。但到了上课的时候学员把这两次课都请假了，那么这2个课时会按请假返回到学员订单中，但都处于冻结状态，需要办理延长有效期，激活后才能正常使用。<br>
<strong>四、预约消课：</strong> <br>
（1）联络途径：学员可在跑步猫的微信自助平台预约，也可以电话预约或取消预约或请假等；<br>
（2）消课优先级：原则上按学员购买订单中课时有效截止日期短的课时优先消课，学员也可以自行决定每次上课消那次购买的课时。<br>
（3）预约常规课/私教课/自助训练课：（a）学员可按自己时间和跑步猫实际发布的课表进行预约。部分课程可能提供一次性预约多人的服务，那么将消多次课所需课时数。（b）预约课程如果在排在节假日的，除店铺提前特别通知外，都正常上课。<br>
（4） 预约特训营：（a）预约特训营所需要消耗的课时数，是根据不同特训营总价换算出的。所以特训营单节课所需课时数可能不是1个课时。（b）提前预约特训营的学员，可以在开营前24小时退出，但之后，不接受退出训练营请求，如果正常退出的，将返还特训营消耗的课时到学员账户。（c）预约完整特训营，学员按自己时间和跑步猫实际发布的特训营课表，提前预约特训营周期内的全部课程，将消耗特训营所需课时数。（d）中途插班预约特训营，学员可以插班预约，但要一次性预约特训营本周期内剩下的所有课程，且要求剩余课程数超过本特训营总课程数的一半以上。（主题活动课时不在计算范围内）（e）特训营中涉及到的主题活动课时，学员无论是否参加，都不会返回课时。(f)特训营课程，如果排在节假日的，除店铺提前特别通知外，正常上课。<br>
（5） 请假或取消预约：（a）预约单次课：学员须至少在课程开课前5小时主动预约，预约成功后，想要取消预约的，必须在课程开课前5小时取消，否则视为自愿放弃该课程，按正常消课处理。正常取消预约的课程，课程消耗的课时数会返还到学员账号。（b）预约特训营：特训营所有课程的上课时间已经确定，学员须在每次课程开课前5小时主动请假，想要请假的，须在课程开课前5小时请假，否则视为自行放弃该课程，按正常消课处理。特训营训练过程中，学员自行按需请假，次数暂不受限制，但不再设置补课机制，学员特训营正常请假的课程所对应的课时数，会返还到学员账户，学员可以自由使用返回后的课时。<br>
<strong>五、课时冻结：</strong><br>
（1）学员每笔订单中的未消课时（能够正常使用的），学员可以自行申请冻结，课时超过有效期也会自动被冻结，无论何种方式，冻结课时的时候，是对单笔订单中的所有课时做冻结。<br>
（2）学员每笔订单有一次为期3个月的免费冻结机会（3个月一次性使用），学员需要多次冻结的，按每月30元收取冻结费。单次冻结最少可以冻结1个月，最长可以冻结12个月，每笔订单累计最多只能冻结12个月。<br>
（3）学员某笔订单中的课时被冻结后，根据冻结起始日期，冻结时长，计算出最终冻结截止日期。学员在课时有效期之前办理冻结后，该订单中课时剩余有效期的时长保持不变，课时是因为有效期过了自动被冻结的，那么课时就没有剩余有效期了。学员可以随时来激活课时，如果过了冻结期，学员还未来激活的课时的，将继续冻结，无论是学员提前或延后激活课时，课时有效期都是从激活日开始计算，并累加原来剩余的有效期时长，对应提前激活的不会退还任何差价费用，更不作为后续冻结费用，对于延后激活的，将按月收取冻结费用（只要时间超过了，就按月计费）。举例说明：A学员某订单中有25个课时，有效期截止日期为3月1日，现在学员2月1日来做了2个月冻结，即冻结到3月31日。如果学员在3月5日提前来激活了课时，因为学员原来剩余的有效期为1个月（2月1日到3月1日），那么学员目前的有效期截止日期为4月4日（从提前激活日3月5日开始计算，再加1个月），如果冻结期内，学员一直没有来激活，到了4月5学员才来激活课时，那么这时候，课时有效期截止日期为5月4日。（从激活日4月5日开始计算，再加1个月），同时因为冻结时间从截止日期3月31日跨度了4月5日，需要补交一个月的冻结费30元。<br>
<strong>六、课时延长有效期：</strong><br>
（1）学员每笔订单中的未消课时（能够正常使用的），学员可以自行申请延长有效期，按每月30元收取。每笔订单单次延期最少延长1个月，最长可以延长12个月。<br>
（2）学员某笔订单中的未消课时，无论是否冻结都可以根据自身需要，来办理延长有效期，被冻结的课时，延长有效期可以激活课时。冻结后被激活的课时，有效期按冻结截止日期起计算，在此基础上按延长有效期时长计算新的有效期截止日期。例说明：（a）A学员某个订单中有8个课时，有效期截止日期为5月10日，目前已经过期被冻结了，现在学员5月25日来缴纳了90块钱，延长3个月的有效期。那么学员该订单课时的有效期截止日期为8月10日。（5月10有效期截止，5月11日开始冻结，延期3个月后，是8月10日）（b）B学员某个订单中有15个课时，有效期截止日期为6月18日，学员6月1日来缴纳了120块钱，延长4个月的有效期，那么学员该订单课时的有效期截止日期为10月17日。（课时是6月18有效期截止的，延期4个月后为10月17日）<br>
（3）如果课时延长有效期后，在新的有效期内学员仍然没有消耗完，那么这些课时会被再次冻结，每笔订单累计最多只能延长12个月，在这些有效期内还没有消完课的，将视为学员自动放弃该课时。<br>
<strong>七、课时转让：</strong>学员所购买的课时原则上仅为本人一人使用。学员因特殊原因，确实无法亲自参与完成训练课程（需跑步猫确认），某订单中未消课时数达到跑步猫规定的额度，且课时没有过有效期（课时处于正常可使用状态），跑步猫可以考虑学员转让这些课时给其他学员，跑步猫同意转让且转让手续办理完成后，原学员转让出的课时训练及服务终止，接受转让的第三方人员享受该课时的训练资格和服务。 转让过程中涉及到的交易金额或其他约定，学员与第三方人员自行协商解决， 跑步猫不对转让交易过程中的任何纠纷负责，转让过程跑步猫有权确保公正，公平，公开，自愿的原则监督并执行，所涉及到有效期参见“三、课时有效期”条款。<br>
<strong>八、退学退款：</strong>跑步猫不受理学员任何退款请求和申请（包括但不限于学员旷课课时退款，请假课时退款，早退课时退款，班级未完成课时退款等等），除非跑步猫因特殊原因，主动向学员提出退款。<br>
<strong>九、</strong>本文中所列举出的具体数字，皆是为了方便健身人员理解而举出的例子，仅供参考，具体政策以实际店铺运营和系统中的值为准。
<strong>十、</strong>课程制度随实际市场及运营情况，会做变更和调整，跑步猫保留对本课程制度所有条款的修改权和解释权。
        </div>
    </div>
</div>

{% include "../_partial/foot.html" %}
<script src="/js/profile/done-till.js"></script>