{% include "../_partial/head.html" %}
<style type="text/css">
body {
    background-color: #e6e6e6
}
</style>
<section class="profile-wrap edit-profile">
    <form method="post" class="am-form">
        
    </form>
</section>
<!-- 性别 -->
<div class="am-modal am-modal-alert pub-dialog select" tabindex="-1">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <a href="javascript: void(0)" class="btn back"><i class="am-icon-angle-left"></i>设置性别</a>
            <a href="javascript: void(0)" class="btn save"><i class="am-icon-save"></i>保存</a>
        </div>
        <div class="am-modal-bd">
            <div class="select-attr">
                <div class="list" data-id='sex'>
                    <a href="javascript: void(0)" class="cur">男</a>
                    <a href="javascript: void(0)">女</a>
                    <a href="javascript: void(0)" class="cur">男</a>
                    <a href="javascript: void(0)">女</a>
                    <a href="javascript: void(0)" class="cur">男</a>
                    <a href="javascript: void(0)">女</a>
                </div>
                <div class="tips">
                    填写性别，喵，喵，你看着办吧！
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 身高 -->
<div class="am-modal am-modal-alert pub-dialog input" tabindex="-1">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <a href="javascript: void(0)" class="btn back"><i class="am-icon-angle-left"></i></a>
            <a href="javascript: void(0)" class="btn save"><i class="am-icon-save"></i>保存</a>
        </div>
        <div class="am-modal-bd">
            <div class="select-attr">
                <div class="title">您的体重</div>
                <div class="input-txt">
                    <input type="text">
                    <i>kg</i>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "../_partial/foot.html" %}
<script src="/js/profile/edit-profile.js"></script>