{% include "../_partial/head.html" %}
<style type="text/css">
body {
    background-color: #e6e6e6;
    height: 100%;
    position: absolute;
    width: 100%;
}
</style>
<section class="profile-heartrate">
    <p><img src="/img/shoptest.jpg" alt="跑步猫"> </p>
    <div class="heartrate-panel">
        <div class="am-g h5-item">
            <div class="am-u-sm-6">心率 (bpm)</div>
            <div class="am-u-sm-6 am-text-right">
                <input type="date" value="2016-04"><i class="am-icon-map" aria-hidden="true"></i></div>
        </div>
        <div class="heartrate-echarts"></div>
    </div>
</section>
{% include "../_partial/foot.html" %}
<script src="/plugins/echarts.simple.min.js"></script>
<script src="/js/profile/heartrate.js"></script>