{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<input type="hidden" value="{{onceId}}" id="onceId">
<section class="submit-class">
    <hr class="hr">
    <div class="pub-list skin0">
        <hr>
        <ul>
            <!-- <li>
                <i class="am-icon-dot-circle-o"><em>提交作业</em></i>
                <div class="list-info">
                    <div class="info">
                       <p class="title">上传作业图片</p>
                    </div>
                    <div class="img-list upload">
                        <div class="task">
                            <p><img src="/img/app-icon72x72@2x.png"></p>
                        </div>
                        <div class="task">
                            <p><img src="/img/app-icon72x72@2x.png"></p>
                        </div>
                        <div class="task">
                            <p><img src="/img/app-icon72x72@2x.png"></p>
                        </div>
                        <div class="task">
                            <p><img src="/img/app-icon72x72@2x.png"></p>
                            <div class="am-form-group am-form-file">
                               <a href="javascript:void(0)"><i class="am-icon-plus"></i></a>
                               <input type="file" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <textarea placeholder="受虐感言。。。"></textarea>
                    <div class="pub-btn skin0">
                        <a href="javascript:void(0)" class="btn">提交</a>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
</section>

{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
<script src="/js/profile/homework-till.js"></script>