{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="profile-message">
    <p class="pub_nodata">暂无消息！</p>
    <!-- <dl>
    	<dt>
    		<div class="fl">
    			<span class="am-badge am-badge-danger">6</span>
    			<img src="/img/app-icon72x72@2x.png" alt="跑步猫">
    			<span>zuozuo</span>
    		</div>
    		<div class="fr">
    			<span>2016-04-08<a href="#"><i class="am-icon-times"></i></a></span>
    		</div>
    	</dt>
     	<dd>喵，明天有课，男神教练，在教室等着你吼要记得我们 的誓言噢噢噢。。。。。。 </dd>
    </dl>
    <dl>
    	<dt>
    		<div class="fl">
    			<img src="/img/app-icon72x72@2x.png" alt="跑步猫">
    			<span>zuozuo</span>
    		</div>
    		<div class="fr">
    			<span>2016-04-08<a href="#"><i class="am-icon-times"></i></a></span>
    		</div>
    	</dt>
     	<dd>喵，明天有课，男神教练，在教室等着你吼要记得我们 的誓言噢噢噢。。。。。。 </dd>
    </dl>
    <dl>
    	<dt>
    		<div class="fl">
    			<img src="/img/app-icon72x72@2x.png" alt="跑步猫">
    			<span>zuozuo</span>
    		</div>
    		<div class="fr">
    			<span>2016-04-08<a href="#"><i class="am-icon-times"></i></a></span>
    		</div>
    	</dt>
     	<dd>喵，明天有课，男神教练，在教室等着你吼要记得我们 的誓言噢噢噢。。。。。。 </dd>
    </dl>
    <dl>
    	<dt>
    		<div class="fl">
    			<img src="/img/app-icon72x72@2x.png" alt="跑步猫">
    			<span>zuozuo</span>
    		</div>
    		<div class="fr">
    			<span>2016-04-08<a href="#"><i class="am-icon-times"></i></a></span>
    		</div>
    	</dt>
     	<dd>喵，明天有课，男神教练，在教室等着你吼要记得我们 的誓言噢噢噢。。。。。。 </dd>
    </dl> -->
</section>

{% include "../_partial/foot.html" %}
<script src="/js/profile/message.js"></script>