{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #cacaca
    }
</style>
<section class="profile">
    <div class="title">个人中心</div>
    <div class="pub-pinfo profile-bg">
        <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
        <div class="info">
           <h2>毒毒怪</h2>
           <span class="grade">Lv.2</span>
           <span class="type">普通会员</span>
           <p>13918579133</p>
        </div>
        <i class="am-icon-angle-right"></i>
    </div>
    <div class="profile-btn profile-bg">
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href=""><i class="am-icon-check-square-o"></i><span>签到</span></a></li>
            <li><a href=""><i class="am-icon-comment-o"></i><span>评价</span></a></li>
            <li><a href=""><i class="am-icon-money"></i><span>充值</span></a></li>
            <li><a href=""><i class="am-icon-envelope-o"></i><span>邀请</span></a></li>
        </ul>
    </div>
    <div class="profile-link">
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href=""><i class="am-icon-check-square-o"></i><span>常规课</span></a></li>
            <li><a href=""><i class="am-icon-comment-o"></i><span>特训营</span></a></li>
            <li><a href=""><i class="am-icon-money"></i><span>私教课</span></a></li>
            <li><a href=""><i class="am-icon-envelope-o"></i><span>自助训练</span></a></li>
            <li><a href=""><i class="am-icon-money"></i><span>训练计划</span></a></li>
            <li><a href=""><i class="am-icon-envelope-o"></i><span>体侧报告</span></a></li>
        </ul>
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href=""><i class="am-icon-check-square-o"></i><span>课时</span></a></li>
            <li><a href=""><i class="am-icon-comment-o"></i><span>猫粮</span></a></li>
            <li><a href=""><i class="am-icon-money"></i><span>优惠券</span></a></li>
            <li><a href=""><i class="am-icon-envelope-o"></i><span>权益</span></a></li>
        </ul>
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href=""><i class="am-icon-check-square-o"></i><span>卡路里</span></a></li>
            <li><a href=""><i class="am-icon-comment-o"></i><span>心率</span></a></li>
            <li><a href=""><i class="am-icon-money"></i><span>HOLpoint</span></a></li>
        </ul>
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href=""><i class="am-icon-check-square-o"></i><span>我的排名</span></a></li>
            <li><a href=""><i class="am-icon-comment-o"></i><span>我的成就</span></a></li>
            <li><a href=""><i class="am-icon-money"></i><span>勋章</span></a></li>
        </ul>
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href=""><i class="am-icon-check-square-o"></i><span>商城订单</span></a></li>
            <li><a href=""><i class="am-icon-comment-o"></i><span>我的卡贝</span></a></li>
            <li><a href=""><i class="am-icon-money"></i><span>消息</span></a></li>
            <li><a href=""><i>&nbsp</i><span>更多...</span></a></li>
        </ul>
    </div>
</section>
{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
