{% include "../_partial/head.html" %}
<style type="text/css">
body {
    /*background-color: #cacaca;*/
    background-color: #e6e6e6;
}
</style>
<section class="profile">
    <div class="title">个人中心</div>
    <a href="/profile/edit-profile.html" style="display: inline-flex;">
        <div class="pub-pinfo profile-bg">
            <div class="am-g">
                <div class="am-u-sm-3">
                    <!-- <div class="img"> -->
                        <img class="headImg" src="/img/app-icon72x72@2x.png" alt="跑步猫">
                    <!-- </div> -->
                </div>
                <div class="am-u-sm-9">
                    <div class="info">
                        <h2 class="nickName"></h2>
                        <span class="grade"></span>
                        <span class="type"></span>
                        <p class="mobileNo"></p>
                    </div>
                </div>
            </div>
            <i class="am-icon-angle-right"></i>
        </div>
    </a>
    <div class="profile-btn profile-bg">
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href="/profile/single-class.html"><i class="am-icon-check-square-o"></i><span>签到</span></a></li>
            <li><a href="/profile/done-class.html"><i class="am-icon-comment-o"></i><span>评价</span></a></li>
            <li><a href="/profile/class-recharge.html"><i class="am-icon-money"></i><span>充值</span></a></li>
            <li><a href="/profile/invite.html"><i class="am-icon-envelope-o"></i><span>邀请</span></a></li>
        </ul>
    </div>
    <div class="profile-link">
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href="/profile/single-class.html"><i class="am-icon-building-o"></i><span>常规课</span></a></li>
            <li><a href="/profile/till-list.html"><i class="am-icon-fort-awesome"></i><span>特训营</span></a></li>
        </ul>
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href="/profile/class-recharge.html"><i class="iconfont icon-keshi"></i><span>课时</span></a></li>
            <li><a href="/profile/catfood.html"><i class="iconfont icon-chudianyu"></i><span>猫粮</span></a></li>
        </ul>
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4" style="border-bottom: #d2d2d2 solid 1px;">
            <li><a href="/profile/calories.html"><i class="iconfont icon-kaluli"></i><span>卡路里</span></a></li>
            <li><a href="/profile/heartrate.html"><i class="iconfont icon-xinlv"></i><span>心率</span></a></li>
            <li style="border-bottom:0"><a href="/profile/holopoint.html"><i class="iconfont icon-xiaolv"></i><span>HOLO POINT</span></a></li>
        </ul>
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href="/profile/ranking.html"><i class="iconfont icon-paiming"></i><span>我的排名</span></a></li>
            <li><a href="/profile/myReflection.html"><i class="iconfont icon-paiming23"></i><span>我的成就</span></a></li>
        </ul>
        <ul class="doc-icon-list am-avg-sm-2 am-avg-md-3 am-avg-lg-4">
            <li><a href="/profile/message.html"><i class="am-icon-commenting"></i><span>消息</span></a></li>
            <!-- <li><a href="/profile/profile.html"><i>&nbsp</i><span>更多...</span></a></li> -->
        </ul>
    </div>
</section>
{% include "../_partial/footer.html" %} {% include "../_partial/foot.html" %}
<script src="/js/profile/profile.js"></script>
