{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="single-class">
    <div class="pub-title">
        <div class="fr">
            <a href="javascript:void(0)" class="red" data-am-modal="{target: '#rule-popup'}">排名规则</a>
        </div>
    </div>
    <div class="pub-tab skin0">
        <ul class="rank-tab">
            <li>
                <a href="javascript:void(0)" class="cur" data-id='Fuel'>Fuel</a>
            </li>
            <li>
                <a href="javascript:void(0)" data-id='Train'>Time</a>
            </li>
        </ul>
    </div>
    <div class="ranking-list pb0">
        <table class="skin2">
            <colgroup>
              <col style="width:15%">
              <col style="width:50%">
              <col style="width:20%">
              <col style="width:15%">
            </colgroup>
            <tbody class="myrank">
            </tbody>
        </table>
    </div>
</section>
<hr class="hrm0">
<section class="single-class">
    <div class="ranking-list">
        <table class="skin2">
            <colgroup>
              <col style="width:15%">
              <col style="width:50%">
              <col style="width:20%">
              <col style="width:15%">
            </colgroup>
            <tbody class="rank-list">
              
            </tbody>
        </table>
    </div>
</section>

<!-- 排名规则 -->
<div class="am-popup content-dialog" id="rule-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
           请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则
        </div>
    </div>
</div>
{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
<script src="/js/profile/ranking.js"></script>
