{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="course">
  <div class="pub-pinfo">
      <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
      <div class="info">
        <h2>左左</h2>
        <p class="address">13918579133</p>
        <p class="teacher">LV.2</p>
      </div>
  </div>
  <div class="pub-price">
    <div class="pub-num">
        <span>课时购买：</span>
        <div class="num">
            <a class="min" href="javascript:;">-</a>
            <input name="" value="0" class="buy_num" type="text">
            <a href="javascript:;" class="add">+</a>
        </div>
        <span>课时单价：200</span>
    </div>
    <div class="pub-num">
        <span>订单金额：</span>
        <span class="ml0">￥200</span>
    </div>
  </div>
  <div class="pub-list skin5">
        <ul>
            <li>
                <div class="list-info">
                    <div class="price">
                      <div class="tit">
                        <a href="javascript: void(0)">折扣价<em>（￥190）</em></a>
                        <a href="javascript:void(0)" data-am-modal="{target: '#detail-popup'}" class="col-red">折扣详细</a>
                      </div>
                      <div class="code">
                        <i class="am-icon-check-square-o col-red"></i>
                        <p>本次可用19颗猫粮 抵扣￥19</p>
                        <p class="col-red">*猫粮总数 100颗</p>
                      </div>
                      <div class="code">
                        <i class="am-icon-square-o"></i>
                        <p>优惠券</p>
                      </div>
                    </div>
                    <div class="pub-line"></div>
                    <div class="total txt-l">
                      应付金额(元):<span class="col-red">￥171（立省29元）</span>
                    </div>
                    <div class="pub-rbtn txt-c">
                        <a href="javascript:void(0)" class="btn">微信支付</a>
                    </div>
                    <div class="pub-rbtn txt-c">
                        <a href="javascript:void(0)" class="btn">支付宝支付</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- 折扣详情 -->
<div class="am-popup" id="detail-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
             <div class="table bd0">
                <table class="skin1">
                  <colgroup>
                    <col style="width:30%">
                    <col style="width:30%">
                    <col style="width:20%">
                    <col style="width:20%">
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>数量</th><th>折扣</th><th>减</th><th>送</th>
                    </tr>
                    <tr>
                      <td class="col-red">1-11课时</td>
                      <td class="col-red">无折扣</td>
                      <td class="col-red">0</td>
                      <td class="col-red">0</td>
                    </tr>
                    <tr>
                      <td>1-11课时</td>
                      <td>无折扣</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>1-11课时</td>
                      <td>无折扣</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="col-red txt-l">
                        *当前为金牌学员，可再享受9.5折优惠
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
{% include "../_partial/foot.html" %}
