{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="single-class">
    <div class="pub-title">
        <div class="fr">
            <a href="javascript:void(0)" class="red" data-am-modal="{target: '#rule-popup'}">请假规则</a>
        </div>
    </div>
    <div class="pub-tab skin0">
        <ul>
            <li>
                <a href="javascript:;" data-status="0" class="cur">未完成</a>
            </li>
            <li>
                <a href="javascript:;" data-status="1" >已完成</a>
            </li>
        </ul>
    </div>
    <div class="pub-list class-list">
        <hr>
        <ul>
            <li><i class="am-icon-dot-circle-o"></i><p class="pub_nodata">暂无课程记录！</p></li>
        </ul>
    </div>
</section>

<!-- 请假规则 -->
<div class="am-popup content-dialog" id="rule-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
           请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则
        </div>
    </div>
</div>
{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
<script src="/js/profile/single-class.js"></script>