{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="single-class">
    <div class="pub-title">
        <div class="fr">
            <a href="javascript:void(0)" class="red" data-am-modal="{target: '#rule-popup'}">请假规则</a>
        </div>
    </div>
    <div class="pub-pinfo skin0 mt-2rem">
        <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
        <div class="info">
          <h2>毒毒怪</h2>
          <p class="address">上海浦东PLUS乐坊店</p>
          <p class="time">2016-03-08  周二19:00-20:00</p>
          <p class="teacher">共24次课</p>
        </div>
    </div>
</section>
<hr class="hr">
<section class="single-class">
    <div class="pub-tab skin0">
        <ul>
            <li>
                <a href="./profile/single-calss.html" class="cur">未完成</a>
            </li>
            <li>
                <a href="./profile/done-calss.html">已完成</a>
            </li>
        </ul>
    </div>
    <div class="pub-list skin3 class-list">
        <hr>
        <ul>
            
            <!-- <li>
                <i class="am-icon-dot-circle-o"></i>
                <h3>第一周</h3>
                <div class="list-info left">
                    <div class="line">
                        <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
                        <div class="info left">
                           <p class="time">2016/3/18 周二 人鱼马甲线</p>
                        </div>
                        <div class="pub-btn">
                            <a href="javascript:void(0)" class="btn btn-red">请假</a>
                            <a href="javascript:void(0)" class="btn btn-red">签到</a>
                        </div>
                    </div>
                    <div class="line">
                        <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
                        <div class="info left">
                           <p class="time">2016/3/18 周二 人鱼马甲线</p>
                        </div>
                        <div class="pub-btn">
                            <a href="javascript:void(0)" class="btn btn-red">请假</a>
                            <a href="javascript:void(0)" class="btn btn-red">签到</a>
                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
</section>

<!-- 请假规则 -->
<div class="am-popup content-dialog" id="rule-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
           请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则
        </div>
    </div>
</div>
{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
<script src="/js/profile/till.js"></script>
