{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<input type="hidden" value="{{specialId}}" id='specialId'>
<div class="till-class">
    <section class="single-class">
        <div class="pub-title">
            <div class="fr">
                <a href="javascript:void(0)" class="red" data-am-modal="{target: '#rule-popup'}">请假规则</a>
            </div>
        </div>
        <div class="pub-pinfo skin0 mt-2rem">
            <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫" id="imgUrl"></div>
            <div class="info">
              <h2 id="className"></h2>
              <p id="storeAddress" class="address"></p>
              <p class="time"><em id="startDate"></em> <em id="week"></em></p>
              <p class="teacher">共<em id="courseNum"></em>次课</p>
            </div>
        </div>
   </section>
   <hr class="hr">
   <section class="single-class" id="ll">
        <div class="pub-tab skin0">
            <ul>
                <li>
                    <a href="javascript:void(0)" class="cur" data-status="0">未完成</a>
                </li>
                <li>
                    <a href="javascript:void(0)"  data-status="1">已完成</a>
                </li>
            </ul>
        </div>
        <div class="pub-list skin3 class-list">
            <hr>
            <ul>
                <p class="pub_nodata">暂无特训营记录！</p>
            </ul>
        </div>
    </section>
</div>

<!-- 请假规则 -->
<div class="am-popup content-dialog" id="rule-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
           请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则请假规则
        </div>
    </div>
</div>
{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
<script src="/js/profile/till.js"></script>
