.navbar {
    background-color: $gray-darker;
    color: $white;
    text-align: center;
    font-size: $font-size-xxl;
    overflow: hidden;
    .active {
        color: $active;
    }
    .navbar-li {
        display: inline-block;
        height: $navbar-height;
        line-height: $navbar-height;
        margin: $navbar-li-margin;
    }
    .narbar-li-line {
        border-right: $base-border-line
    }
}

.navbar-footer {
    font-size: $font-size-xl;
    position: fixed;
    bottom: 0;
    width: 100%;
    a{
        line-height: initial;
        color: $white;
    }
    p {
        margin: 0rem;
    }
}

.navbar-footer-empty{
    margin-bottom: rem-calc($navbar-li-margin-px*2 + $navbar-height-px);
}