{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #b5b5b5
    }
</style>
<input type="hidden" value="{{specialId}}" id='specialId'>
<section class="course">
    <div class="pic">
      <div class="am-slider am-slider-default" data-am-flexslider>
        <ul class="am-slides" id="carouselFigure">
          
        </ul>
      </div>
      <div class="pub-countdown" data-year="{{year}}" data-mm="{{mm}}" data-day="{{day}}">
        <div class="fl">
          <i class="am-icon-clock-o col-red"></i>
          <span>剩</span>
          <i class="am-badge am-badge-danger t_d">00</i>
          <span>天</span>
          <i class="am-badge am-badge-danger t_h">00</i>
          <span>时</span>
          <i class="am-badge am-badge-danger t_m">00</i>
          <span>分</span>
          <i class="am-badge am-badge-danger t_s">00</i>
          <span>秒</span>
        </div>
        <div class="fr">
          <span>￥<em id="totalPrice"></em>/人（所需<em id="classNum"></em>课时）</span>
        </div>
      </div>
    </div>
    <div class="info-list bg-e6">
      <ul>
        <li>
          <i class="am-icon-instagram"></i><span id="data"></span>
        </li>
        <li>
          <i class="am-icon-clock-o"></i><span>上课时间：<em id="classTime"></em> </span>
        </li>
        <li>
          <i class="am-icon-map-marker"></i><span id="storeAddress">上海</span>
          <a href="#" class="col-red view-map">查看地图</a>
        </li>
        <li>
          <i class="am-icon-phone"></i><span>电话：<em id="contactPhone"></em></span>
        </li>
        <li class="peo">
          <i class="am-icon-user"></i>
          <span>人数：</span>
          <div class="pub_peolist">
            
          </div>
        </li>
      </ul>
    </div>
    <div class="course-con">
        <div class="tit">热辣女生班简介</div>
        <div class="con" id="classDesc">
          
        </div>
    </div>
    <div class="course-con">
        <div class="tit">会员福利</div>
        <div class="con">
          
        </div>
    </div>
    <div class="course-con">
        <div class="tit">教练介绍</div>
        <div class="con" id="trainers">
          
        </div>
    </div>
    <div class="course-con">
        <div class="tit">课程安排</div>
        <div class="con">
          1、服装：适合贴身的运动服饰，避免衣服宽松造成对动作       的影响。脚下要穿软底舒适、防滑耐磨的运动鞋。<br>
2、饮食：在运动1小时前可以食用少量食物，避免因为体力活动而导致的功能紊乱，同时可以增加运动效果。进食后1小时之内不要进行运动。运动前补充适量水分可以减少脱水的可能。<br>
3、交通：有地下停车场，轨交7号线 花木路站。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">训练效果</div>
        <div class="con" id="trainingResults">
          每个人赠送500猫粮的，可随意兑换想要上的课程。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">温馨提示</div>
        <div class="con" id="trainingTips">
          每个人赠送500猫粮的，可随意兑换想要上的课程。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">入营流程</div>
        <div class="con txt-c" id="trainingFlow">
          <img src="/img/flow.png" alt="跑步猫" class="flow">
        </div>
    </div>
    <div class="pub-rbtn fixed">
        <a href="/till/pay-page.html?specialId={{specialId}}" class="btn">立即预约</a>
    </div>
</section>
{% include "../_partial/foot.html" %}
<script src="/js/till/till-detail.js"></script>
