{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #b5b5b5
    }
</style>
<section class="course">
    <div class="pic">
      <div class="am-slider am-slider-default" data-am-flexslider>
        <ul class="am-slides">
          <li><img src="/img/shoptest.jpg" /></li>
          <li><img src="/img/shoptest.jpg" /></li>
          <li><img src="/img/shoptest.jpg" /></li>
          <li><img src="/img/shoptest.jpg" /></li>
        </ul>
      </div>
      <div class="pub-countdown">
        <div class="fl">
          <i class="am-icon-clock-o col-red"></i>
          <span>剩</span>
          <i class="am-badge am-badge-danger">04</i>
          <span>天</span>
          <i class="am-badge am-badge-danger">15</i>
          <span>时</span>
          <i class="am-badge am-badge-danger">17</i>
          <span>分</span>
<!--           <i class="am-badge am-badge-danger">20</i>
          <span>秒</span> -->
        </div>
        <div class="fr">
          <select data-am-selected>
            <option value="a">￥7200/人（所需36课时）</option>
            <option value="b" selected>￥7200/人（所需36课时）</option>
            <option value="o">￥7200/人（所需36课时）</option>
            <option value="m">￥7200/人（所需36课时）</option>
          </select>
        </div>
      </div>
    </div>
    <div class="info-list bg-e6">
      <ul>
        <li>
          <i class="am-icon-instagram"></i><span>训练周期：6月6日~9月6日，12 周共24次课</span>
        </li>
        <li>
          <i class="am-icon-clock-o"></i><span>上课时间：每周三，五 18:00~19:00 </span>
        </li>
        <li>
          <i class="am-icon-map-marker"></i><span>地址：上海长宁区凯旋路1010号C栋2F</span>
          <a href="#" class="col-red view-map">查看地图</a>
        </li>
        <li>
          <i class="am-icon-phone"></i><span>电话：021-1234555</span>
        </li>
        <li class="peo">
          <i class="am-icon-user"></i>
          <span>人数：</span>
          <div class="pub_peolist">
            <a href="javascript:void(0)" class="cur">
              <p>1人</p>
              <p>1课时</p>
            </a>
            <a href="javascript:void(0)">
              <p>2人</p>
              <p>2课时</p>
            </a>
            <a href="javascript:void(0)">
              <p>3人</p>
              <p>3课时</p>
            </a>
            <a href="javascript:void(0)">
              <p>4人</p>
              <p>4课时</p>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="course-con">
        <div class="tit">热辣女生班简介</div>
        <div class="con">
          跑步猫（RunningCat），中国第一家正能量、重口味、高逼格的数字化多媒体体能训练营。拥有全球第一个自主研发的数字化多媒体体能训练馆，自主研发的MRT2.0多媒体光影互 动跑步体能训练课程。中国第一家美国海军陆战队训练体系TRX课程及教练培训基地。中国唯一授权UGI-BALL训练体系课程（刻画人鱼线，打造腹部清晰线条轮廓）。 运动专业化、娱乐化、游戏化、训练互动化，边玩边运动，越玩越专业。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">会员福利</div>
        <div class="con">
          每个人赠送500猫粮的，可随意兑换想要上的课程。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">教练介绍</div>
        <div class="con">
          <img src="/img/shoptest.jpg" />
        </div>
    </div>
    <div class="course-con">
        <div class="tit">课程安排</div>
        <div class="con">
          1、服装：适合贴身的运动服饰，避免衣服宽松造成对动作       的影响。脚下要穿软底舒适、防滑耐磨的运动鞋。<br>
2、饮食：在运动1小时前可以食用少量食物，避免因为体力活动而导致的功能紊乱，同时可以增加运动效果。进食后1小时之内不要进行运动。运动前补充适量水分可以减少脱水的可能。<br>
3、交通：有地下停车场，轨交7号线 花木路站。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">训练效果</div>
        <div class="con">
          每个人赠送500猫粮的，可随意兑换想要上的课程。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">温馨提示</div>
        <div class="con">
          每个人赠送500猫粮的，可随意兑换想要上的课程。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">入营流程</div>
        <div class="con txt-c">
          <img src="/img/flow.png" alt="跑步猫" class="flow">
        </div>
    </div>
    <div class="pub-rbtn fixed">
        <a href="/till/pay-page.html" class="btn">立即预约</a>
    </div>
</section>
{% include "../_partial/foot.html" %}
