{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #b3b3b3
    }
</style>
<section class="course">
    <div class="pub-tab skin1">
        <ul>
            <li>
                <a href="./profile/single-calss.html">特训营</a>
            </li>
            <li>
                <a href="../profile/done-calss.html" class="cur">常规课</a>
            </li>
        </ul>
    </div>
    <div class="pub-location">
        <div class="fl">上海浦东PLUS乐坊店</div>
        <div class="fr">
            <a href="javascript:void(0)" class="view-map"><i class="am-icon-map-marker"></i>查看地图</a>
        </div>
    </div>
    <div class="till">
      <ul>
        <li>
          <div class="pic">
            <img src="/img/shoptest.jpg" />
            <p>热辣女神班</p>
          </div>
          <div class="info">
            <div class="tit">
              <p><em>￥7200/人</em> 12周 24次课</p>
              <p>4/5~7/5 ，每周二、周四 10 : 00 ~11 : 00     </p>
              <p>招募人数：限20人</p>
              <div class="pub-countdown">
                <div class="fl">
                  <i class="am-icon-clock-o col-red"></i>
                  <span>剩</span>
                  <i class="am-badge am-badge-danger">04</i>
                  <span>天</span>
                  <i class="am-badge am-badge-danger">15</i>
                  <span>时</span>
                  <i class="am-badge am-badge-danger">17</i>
                  <span>分</span>
                  <i class="am-badge am-badge-danger">20</i>
                  <span>秒</span>
                </div>
              </div>
            </div>
            <div class="pub-btn">
                <a href="./profile/comment-calss.html" class="btn btn-red">报名</a>
                <p>
                  <img src="/img/ico-stock.png" />
                </p>
            </div>
          </div>
        </li>
        <li>
          <div class="pic">
            <img src="/img/shoptest.jpg" />
            <p>时速格斗班</p>
          </div>
          <div class="info">
            <div class="tit">
              <p><em>￥7200/人</em> 12周 24次课</p>
              <p>4/5~7/5 ，每周二、周四 10 : 00 ~11 : 00     </p>
              <p>招募人数：限20人</p>
              <div class="pub-countdown">
                <div class="fl">
                  <i class="am-icon-clock-o col-red"></i>
                  <span>剩</span>
                  <i class="am-badge am-badge-danger">04</i>
                  <span>天</span>
                  <i class="am-badge am-badge-danger">15</i>
                  <span>时</span>
                  <i class="am-badge am-badge-danger">17</i>
                  <span>分</span>
                  <i class="am-badge am-badge-danger">20</i>
                  <span>秒</span>
                </div>
              </div>
            </div>
            <div class="pub-btn">
                <a href="./profile/comment-calss.html" class="btn btn-red">报名</a>
                <p>
                  <img src="/img/ico-stock.png" />
                </p>
            </div>
          </div>
        </li>
        <li>
          <div class="pic">
            <img src="/img/shoptest.jpg" />
            <p>热辣女神班</p>
          </div>
          <div class="info">
            <div class="tit">
              <p><em>￥7200/人</em> 12周 24次课</p>
              <p>4/5~7/5 ，每周二、周四 10 : 00 ~11 : 00     </p>
              <p>招募人数：限20人</p>
              <div class="pub-countdown">
                <div class="fl">
                  <i class="am-icon-clock-o col-red"></i>
                  <span>剩</span>
                  <i class="am-badge am-badge-danger">04</i>
                  <span>天</span>
                  <i class="am-badge am-badge-danger">15</i>
                  <span>时</span>
                  <i class="am-badge am-badge-danger">17</i>
                  <span>分</span>
                  <i class="am-badge am-badge-danger">20</i>
                  <span>秒</span>
                </div>
              </div>
            </div>
            <div class="pub-btn">
                <a href="./profile/comment-calss.html" class="btn btn-red">报名</a>
                <p>
                  <img src="/img/ico-stock.png" />
                </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
</section>

{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
