{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        /*background-color: #cacaca;*/
        background-color: #e6e6e6;
    }
</style>
<input type="hidden" value="{{specialId}}" id='specialId'>
<input type="hidden" value="{{isBuyFlag}}" id='isBuyFlag'>
<section class="course">
    <div class="pic">
      <div class="am-slider am-slider-default" data-am-flexslider>
        <ul class="am-slides" id="carouselFigure">
          
        </ul>
      </div>
      <div class="pub-countdown" data-year="{{year}}" data-mm="{{mm}}" data-day="{{day}}">
        <div class="fl">
          <i class="am-icon-clock-o col-red"></i>
          <span>剩</span>
          <i class="am-badge am-badge-danger t_d">00</i>
          <span>天</span>
          <i class="am-badge am-badge-danger t_h">00</i>
          <span>时</span>
          <i class="am-badge am-badge-danger t_m">00</i>
          <span>分</span>
          <i class="am-badge am-badge-danger t_s">00</i>
          <span>秒</span>
        </div>
        <div class="fr">
          <span>￥<em id="totalPrice"></em>/人（所需<em id="classNum"></em>课时）</span>
        </div>
      </div>
    </div>
    <div class="info-list bg-e6">
      <ul>
        <li>
          <i class="am-icon-instagram"></i><span id="data"></span>
        </li>
        <li>
          <i class="am-icon-clock-o"></i><span>上课时间：<em id="classTime"></em> </span>
        </li>
        <li>
          <i class="am-icon-map-marker"></i><span id="storeAddress" class="address-span">上海</span>
          <a href="javascript:void(0);" class="col-red view-map">查看地图</a>
        </li>
        <li>
          <i class="am-icon-phone"></i><span>电话：<em id="contactPhone"></em></span>
        </li>
        <li class="peo">
          <i class="am-icon-user"></i>
          <span>人数：</span>
          <div class="pub_peolist">
            
          </div>
        </li>
      </ul>
    </div>
    <div class="course-con">
        <div class="tit">特训营简介</div>
        <div class="con" id="classDesc">
          
        </div>
    </div>
    <div class="course-con">
        <div class="tit">福利</div>
        <div class="con">
          1.RUNNING CAT提供免费超速wifi、超酷的咖啡厅休息区、饮用水<br/>
2.提供训练后个人训练美照，记录你时刻的美。<br/>
3.训练营提供每次训练前沙拉一份，及柠檬水补给。<br/>
4.教练提供全天候在线互动，包括咨询、饮食监控及训练顾问；<br/>
5.训练营期间将举办两次主题派对。<br/>
        </div>
    </div>
    <div class="course-con">
        <div class="tit">明星教练</div>
        <div class="con" id="trainers">
          
        </div>
    </div>
    <div class="course-con">
        <div class="tit">课程安排</div>
        <div class="con" id="trainingFlow">
         
        </div>
    </div>
    <div class="course-con">
        <div class="tit">温馨提示</div>
        <div class="con" id="trainingTips">
         
        </div>
    </div>
    <div class="course-con">
        <div class="tit">入营流程</div>
        <div class="con txt-c" id="trainingFlow">
          <img src="/img/flow.png" alt="跑步猫" class="flow">
        </div>
    </div>
    <div class="pub-rbtn fixed">
        <a href="/pay/till/pay-page.html?specialId={{specialId}}&buyCopies=1" class="btn">立即预约</a>
    </div>
</section>
{% include "../_partial/foot.html" %}
<script src="/js/till/till-detail.js"></script>
<script src="http://map.qq.com/api/js?v=2.exp"></script>
<script src="/plugins/wechat.min.js"></script>
<script src="/js/map/tencent.js"></script>