// Sizing
// -----------------------------------------------------------------------------
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin square($size) {
    @include size($size, $size);
}

// charts
@mixin charts($charts-name:heartrate) {
    .profile-#{$charts-name} {
        height: 100%;
        $heartrate-panel-height-px: 360px !default;
        $heartrate-panel-height: rem-calc($heartrate-panel-height-px);
        .#{$charts-name}-panel {
            height: $heartrate-panel-height;
            bottom: 0;
            position: absolute;
            width: 100%;
            $date-width-px: 80px !default;
            $date-width: rem-calc($date-width-px);
            input {
                // width: $date-width;
                margin-right: 10px;
                float: initial;
                background-color: transparent;
                border: 0;
                line-height: rem-calc(28px);
                text-align: right;
            }
            $echarts-height-px:300px !default;
            $echarts-height:rem-calc($echarts-height-px);
            .#{$charts-name}-echarts {
                height: $echarts-height;
            }
        }
    }
}
