<!--[if (gte IE 9)|!(IE)]><!-->
<!-- <script src="dist/js/jquery.min.js"></script> -->
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="dist/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/plugins/plugins.min.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.min.js"></script>
{% include "./modal.html" %}
</body>

</html>
<script>
var userInfo = common.getUserInfo();
var wechatPublicNumberInfo = common.getWechatPublicNumberInfo();

$(document).ready(function() {
    $(".navbar-footer a").each(function(i, I) {
        var pageUrl = window.location.pathname;
        var href = $(this).data("url");
        var list = href.split(",");
        $.each(list, function(j, J) {
            if (pageUrl == J) {
                $(I).addClass("active");
            }
        });
    }); 
})
$(".pub_nodata").parent("ul").addClass("bd0");
$(".pub-tab ul li a").click(function(){
    if($(".pub-list ul li").length){
        $(".pub-list ul").addClass("bd0");
    }
    else{
        $(".pub-list ul").removeClass("bd0");
    }
})
</script>