<ul class="am-avg-sm-4 navbar navbar-footer">
    <li class="navbar-li">
        <a href="/public/shop.html" data-url="">
            <p><i class="am-icon-home am-icon-sm"></i></p>
            <p>店铺</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/course/course.html" data-url="/course/course.html,/till/till.html">
            <p><i class="am-icon-calendar-check-o am-icon-sm"></i></p>
            <p>课程</p>
        </a>
    </li>
    <li class="navbar-li">
        <!-- <a href="/market/market.html"> -->
        <a href="javascript:;" data-url="">
            <p><i class="am-icon-shopping-cart am-icon-sm"></i></p>
            <p>商城</p>
        </a>
    </li>
    <li class="navbar-li">
        <a href="/profile/profile.html" data-url="/profile/profile.html">
            <p><i class="am-icon-user am-icon-sm"></i></p>
            <p>我</p>
        </a>
    </li>
</ul>