{% set coursePlanInfo = data['coursePlan.queryCoursePlanInfo']['record'] %} 
{% set usrClassEvaluate = data['classEvaluate.getUsrClassEvaluate']['record'] %} 
{% set trainFeel = data['classEvaluate.getTrainFeel']['record'] %}
{% set user_food = data['classEvaluate.getMemberFoodNum']['record'] %}
<div class="pub-pinfo">
    <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
    <div class="info">
        <h2>{{coursePlanInfo.courseName}}</h2>
        <p class="address">{{coursePlanInfo.storeAddress}}</p>
        <p class="time">{{coursePlanInfo.courseDate|dateFormat('yyyy-MM-dd')}} {{coursePlanInfo.courseDate|toWeek()}} {{coursePlanInfo.startTime}}-{{coursePlanInfo.endTime}}</p>
        <p class="teacher">教练：LIDA</p>
    </div>
</div>
<script type="text/javascript">
    var useful_food = "{{user_food}}";
    useful_food = parseInt(useful_food);
</script>
<hr class="hr">
<div class="pub-list skin0">
    <hr>
    <form class="usrClassEvaluate">
        <ul class="comment">
            <li class="scal-line">
                <i class="am-icon-dot-circle-o"><em>评分</em></i>
                <div class="list-info">
                    <div class="scal score">
                        <span>综合评分</span> {% autoescape false %}{{usrClassEvaluate.score|scopeFilter()}}{% endautoescape %}
                    </div>
                    <div class="scal trainScore">
                        <span>教练评分</span> {% autoescape false %}{{usrClassEvaluate.trainScore|scopeFilter()}}{% endautoescape %}
                    </div>
                </div>
            </li>
            <li>
                <i class="am-icon-dot-circle-o"><em>感受</em></i>
                <div class="list-info">
                    <div class="list">
                        {% for i,feel in trainFeel %} {% if feel.id == usrClassEvaluate.trainFeelValue %}
                        <p>
                            <input type="radio" checked="checked" value="{{feel.id}}" name="trainFeelValue" id="{{feel.id}}" required>&nbsp;&nbsp;&nbsp;
                            <label for="{{feel.id}}">{{feel.ruleDetail}}</label>
                        </p>
                        {% else %}
                        <p>
                            <input type="radio" value="{{feel.id}}" name="trainFeelValue" id="{{feel.id}}" required>&nbsp;&nbsp;&nbsp;
                            <label for="{{feel.id}}">{{feel.ruleDetail}}</label>
                        </p>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </li>
            <li>
                <i class="am-icon-dot-circle-o"><em>打赏</em></i>
                <div class="list-info">
                    <div class="pub-num fl">
                        <span>打赏教练：</span>
                        <div class="num">
                            <a class="min" href="javascript:;">-</a>
                            {% if usrClassEvaluate.foodNum > 0 %}
                            <input name="food" value="{{usrClassEvaluate.foodNum}}" class="buy_num" type="text">
                            {% else %}
                            <input name="food" value="0" class="buy_num" type="text">
                            {% endif %}
                            <a href="javascript:;" class="add">+</a>
                        </div>
                        <span>颗猫粮</span>
                    </div>
                </div>
                <div class="pub-ps">*剩余猫粮数：{{user_food}}颗</div>
            </li>
            <li>
                <i class="am-icon-dot-circle-o"><em>留言</em></i>
                <div class="list-info">
                    <textarea name="leaveMsg" placeholder="别让互动的小船说翻就翻哈，，，， ">{{usrClassEvaluate.leaveMsg}}</textarea>
                    <div class="pub-btn skin0">
                        <button class="btn">发表评论</button>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>
