{% if data.length > 0 %}

{% for course in data %}
<li>
    {% if course.courseMaxNum && course.buyerNum %}
      {% if course.courseMaxNum-course.buyerNum <=course.ticketShortage %}
        <img src="/img/ico-shop.png" class="ico">
      {% endif %}
    {% endif %}
    <div class="list-info">
        <a href="/course/course-detail.html?courseId={{course.courseId}}&isBuyFlag={{course.isBuyFlag}}&dayOfWeek={{course.dayOfWeek}}&imgUrl={{course.imgUrl}}">
          <div class="img"><img src="{{settings.imageAddress}}{{course.imgUrl}}"></div>
          <div class="info">
             {% if course.comTags.length %}
             <h2>{{course.courseName}}</h2>
                 <div class="tit">
                     {% for tag in course.comTags %}
                        {% if loop.first %}
                        <span>{{tag.tagName}}</span>
                        {% else %}
                        <span><em>.</em>{{tag.tagName}}</span>
                        {% endif %}
                    {% endfor %}
                 </div>
            {% else %}
            <h2 class="mt1">{{course.courseName}}</h2>
             {% endif %}
             <p class="houre">
                 <i class="am-icon-instagram"></i><span class="text-muted">{{course.onceCourseHour}} 课时</span>
             </p>
             <p class="clock">
                 <i class="am-icon-clock-o"></i><span class="text-muted">{{course.startTime}}~{{course.endTime}}</span>
             </p>
          </div>
        </a>
        <div class="pub-btn">
            {% if course.isBuyFlag == 0 %}
            <a href="/course/course-detail.html?courseId={{course.courseId}}&isBuyFlag={{course.isBuyFlag}}&dayOfWeek={{course.dayOfWeek}}&imgUrl={{course.imgUrl}}" class="btn btn-red">预约</a>
            {% elseif course.isBuyFlag == 1 %}
            <a  class="btn btn-end">已结束</a>
            {% endif %}
        </div>
    </div>
</li>
{% endfor %}

{% else %}
<li><p class='pub_nodata'>喵~，今天没有排课，休息一下！</p></li>
{% endif %}