<div class="head-logo">
    <div class="am-form-group am-form-file">
        <img src="{{memberInfo.photoUrl}}" alt="跑步猫">
        <input type="file" accept="image/*">
        <p>上传头像</p>
    </div>
</div>
<hr>
<input type="hidden" name="userName" value="{{memberInfo.userName}}">
<input type="hidden" name="memberId" value="{{memberInfo.id}}">
<ul>
    <li>
        <span class="tit">昵称<em>*</em></span>
        <input type="text" name="nickName" id="name" value="{{memberInfo.nickName}}" required>
    </li>
    <li>
        <span class="tit">微信号<em>*</em></span>
        <input type="text" name="wechat" id="wx" value="{{memberInfo.wechat}}" required>
    </li>
    <li>
        <span class="tit">出生日期<em>*</em></span>
        <input type="date" name="birthday" id="borth" value="{{memberInfo.birthday|date('Y-m-d')}}" required>
    </li>
    <li>
        <span class="tit">性别<em>*</em></span>
        {% if memberInfo.sex == 1 %}
            <input type="text" id="sex" value="男" required>
        {% else %}
            <input type="text" id="sex" value="女" required>
        {% endif %}
        <input type="hidden" name="sex" id="sexInputBox" value="{{memberInfo.sex}}">
    </li>
    <li class="unit">
        <span class="tit">身高<em>*</em></span>
        <input type="text" name="height" id="height" value="{{memberInfo.height}}" required>
        <span class=" unit-span">cm</span>
    </li>
    <li class="unit">
        <span class="tit">体重<em>*</em></span>
        <input type="text" name="beforeWeight" id="weight" value="{{memberInfo.beforeWeight}}" required>
        <span class=" unit-span">kg</span>
    </li>
</ul>
<hr>
<ul>
    <li>
        <span class="tit">身份证<em>*</em></span>
        <input type="text" name="idcard" id="idcard" value="{{memberInfo.idcard}}" required>
    </li>
    <li>
        <span class="tit">婚否</span>
        <input type="text" name="maritalStatus" id="married" value="{{memberInfo.maritalStatus}}">
    </li>
    <li>
        <span class="tit">血型</span>
        <input type="text" name="bloodtype" id="blood" value="{{memberInfo.bloodtype}}">
    </li>
    <li>
        <span class="tit">职业</span>
        <input type="text" name="profession" id="job" value="{{memberInfo.profession}}">
    </li>
    <li>
        <span class="tit">地区<em>*</em></span>
        <select id="demo-test-select" class="area"></select>
        <input type="text" name="memberAddress" id="addressInput" disalbed="disalbed" class="mbsc-control mbsc-control-ev" value="{{memberInfo.memberAddress}}" required>
        <input type="hidden" name="addressId" id="addressId">
    </li>
</ul>
<hr>
<div class="am-cf">
    <div class="submit">
        <input type="submit" name="" value="保存" class="am-btn am-btn-primary am-btn-sm am-fl">
    </div>
</div>
