{% for homework in data %}
<li class="listHomework">
    <i class="am-icon-dot-circle-o"><em>作业任务</em></i>
    <div class="list-info">
        <div class="info">
           <p class="title">{{homework.actionDesc}}</p>
        </div>
        <div class="img-list">
            <div class="task">
                <p><img src="{{settings.imageAddress}}{{homework.actionImg1}}"></p>
                <p>{{homework.actionDuration}}</p>
            </div>
        </div>
    </div>
</li>
{% endfor %}