{% for homework in data %}
<li>
    <i class="am-icon-dot-circle-o"><em>作业任务</em></i>
    <div class="list-info">
        <div class="info">
           <p class="title">俯卧撑100个，有氧运动30分钟，需消耗卡路里500大卡。</p>
        </div>
        <div class="img-list">
            <div class="task">
                <p><img src="/img/shoptest.jpg"></p>
                <p>动作师范</p>
            </div>
            <div class="task">
                <p><img src="/img/app-icon72x72@2x.png"></p>
                <p>动作师范</p>
            </div>
            <div class="task">
                <p><img src="/img/app-icon72x72@2x.png"></p>
                <p>动作师范</p>
            </div>
        </div>
    </div>
</li>
{% endfor %}