{% for till in data %}
<li class="mb0">
    <div class="status">
      <div class="line">
        <span style="width:50%"><em><i>{{till.finishNum}}</i>/<i>{{till.totalNum}}</i></em></span>
      </div>
  </div>
</li>
<li>
  <div class="pic">
    <img src="/img/shoptest.jpg" />
    <img src="/img/app-icon72x72@2x.png" alt="跑步猫" class="peo">
  </div>
  <div class="info">
    <div class="tit">
      <p>{{till.className}}</p>
      <p>2015.04~2015.06  </p>
      <p>每周二 18:30~19:30 </p>
      <p>共24次课</p>
    </div>
    <div class="pub-btn skin0 mt0">
        <a href="/profile/till.html?specialId={{till.id}}" class="btn btn-red">课表</a>
    </div>
  </div>
  <input type="hidden" class="ll" value="{{till.id}}">
</li>
{% endfor %}