{% for i,till in data %}
<li>
    <i class="am-icon-dot-circle-o"></i>
    <h3>第{{i}}周</h3>
    <div class="list-info ">
        {% for list in till %}
        <div class="line">
            <div class="img"><img src="{{settings.imageAddress}}{{list.trainerPhotoUrl}}" alt="跑步猫"></div>
            <div class="info left">
               <p class="time">{{list.courseDate|dateFormat('yyyy-MM-dd')}} {{list.courseDate|toWeek()}} {{list.className}}</p>
            </div>
            <div class="pub-btn">
                <!-- courseOnceStatus 课次状态：1 未签到 2 忘签 \3 失约未签到 4 已签到 5请假未签到 -->
                {% if list.courseOnceStatus == 4 %}
                    <a href="/profile/special-comment-class.html?onceId={{list.onceId}}&specialId={{list.id}}" class="btn btn-red">评价</a>
                    <a href="/profile/homework-till.html?onceId={{list.onceId}}&specialId={{list.id}}" class="btn btn-red">作业</a>
                {% elseif list.courseOnceStatus == 2 %}
                    <a href="javascript:void(0)" class="btn btn-end">忘签</a>
                {% elseif list.courseOnceStatus == 3 %}
                    <a href="javascript:void(0)" class="btn btn-end">失约</a>
                {% elseif list.courseOnceStatus == 1 %}
                    <a href="javascript:void(0)" data-id="{{list.id}}" data-signin-key="{{list.signinKey}}" class="btn btn-red leave">请假</a>
                    <a href="javascript:void(0)" data-id="{{list.id}}" class="btn btn-red signIn">签到</a>
                {% elseif list.courseOnceStatus == 5 %}
                    <a href="javascript:void(0)" class="btn btn-end">已请假</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</li>
{% endfor %}