{% for till in data %}
<li class="mb0">
    <div class="status">
        <em><i>{{till.finishNum}}</i>/<i>{{till.totalNum}}</i></em>
        <div class="line">
            <span style="width:{{ till.finishNum|toPercent(till.totalNum) }}"></span>
        </div>
    </div>
</li>
<li>
    <div class="pic">
        <img src="{{settings.imageAddress}}{{till.imgUrl}}" />
        <!-- <img src="/img/app-icon72x72@2x.png" alt="跑步猫" class="peo"> -->
    </div>
    <div class="info">
        <div class="tit">
            <p>{{till.className}}</p>
            <p>{{till.startDate|dateFormat('MM/dd')}}~{{till.endDate|dateFormat('MM/dd')}} </p>
            <p>{{till.classTime}}</p>
            <p>共{{till.totalNum}}次课</p>
        </div>
        <div class="pub-btn skin0 mt0">
            <a href="/profile/till.html?specialId={{till.id}}" class="btn btn-red">课表</a>
            {% if till.checkStatus==1 %}
            <a href="javascript:void(0)" class="btn btn-red">已转让</a>
            {% elseif till.checkStatus==3 %}
            <a href="javascript:void(0)" class="btn btn-red zhuanrang" data-am-modal="{target: '.doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}" data-id="{{till.className}}"  data-id1="{{till.totalNum}}" data-id3="{{till.totalPrice}}" data-id4="{{till.appointmentTotalNum}}" data-id2="{{till.id}}">转让</a>
            {% endif %}
        </div>
    </div>
</li>
{% endfor %}