{% for message in data %}

{% if message.isRead == 0 %}
<dl data-id="{{message.id}}" class="noRead">
{% else %}
<dl data-id="{{message.id}}">
{% endif %}
    <dt>
        <div class="fl">
            <span class="am-badge am-badge-danger">1</span>
            <img src="{{settings.imageAddress}}{{message.sendPhotoUrl}}" alt="跑步猫">
            <span>zuozuo</span>
        </div>
        <div class="fr">
            <span>{{message.createTime|date('Y-m-d')}}<a href="javascript:;" data-id="{{message.id}}"><i class="am-icon-times"></i></a></span>
        </div>
    </dt>
    <dd>{{message.content}}</dd>
</dl>
{% endfor %}
