{% if data %}
<div class="shop-detail">
    <a href="javascripts:;" data-href="/course/course.html" data-store-id="{{data.id}}" data-store-name="{{data.storeName}}" data-store-address="{{data.city}}{{data.district}}{{data.address}}" data-store-phone="{{data.contactPhone}}"><img src="{{settings.imageAddress}}{{data.headImg}}" /></a>
    <div class="mask">
        <div class="shop-name">{{data.storeName}}</div>
        <div class="shop-address">
            <p>{{data.city}}{{data.district}}{{data.address}}</p>
            <p>{{data.contactPhone}}</p>
        </div>
    </div>
</div>
{% endif %}