{% for ranking in data %}
{% if ranking.rowNum == 1 %}
<tr>
    <td class="top"><img src="/img/top1.png" alt="跑步猫"></td>
    <td class="peo">
        <img src="{{settings.imageAddress}}{{ranking.photoUrl}}" alt="跑步猫">
        <span>{{ranking.nickName}}</span>
    </td>
    <td class="num">{{ranking.totalTrainTime}}</td>
    <td class="like">
        <p class="totalPraise">{{ranking.totalPraise}}</p>
        <p>
            <a href="javascript:void(0)" data-id="{{ranking.id}}" class="praise" data-status="{{ranking.praiseState}}">
                {% if ranking.praiseState >0 %}
                <i class="am-icon-heart col-red"></i>
                {% else %}
                <i class="am-icon-heart-o col-red"></i>
                {% endif %}
            </a>
        </p>
    </td>
</tr>
{% elseif ranking.rowNum == 2 %}
<tr>
    <td class="top"><img src="/img/top2.png" alt="跑步猫"></td>
    <td class="peo">
        <img src="{{settings.imageAddress}}{{ranking.photoUrl}}" alt="跑步猫">
        <span>{{ranking.nickName}}</span>
    </td>
    <td class="num">{{ranking.totalTrainTime}}</td>
    <td class="like">
        <p class="totalPraise">{{ranking.totalPraise}}</p>
        <p>
            <a href="javascript:void(0)" data-id="{{ranking.id}}" class="praise" data-status="{{ranking.praiseState}}">
                {% if ranking.praiseState >0 %}
                <i class="am-icon-heart col-red"></i>
                {% else %}
                <i class="am-icon-heart-o col-red"></i>
                {% endif %}
            </a>
        </p>
    </td>
</tr>
{% elseif ranking.rowNum == 3 %}
<tr>
    <td class="top"><img src="/img/top3.png" alt="跑步猫"></td>
    <td class="peo">
        <img src="{{settings.imageAddress}}{{ranking.photoUrl}}" alt="跑步猫">
        <span>{{ranking.nickName}}</span>
    </td>
    <td class="num">{{ranking.totalTrainTime}}</td>
    <td class="like">
        <p class="totalPraise">{{ranking.totalPraise}}</p>
        <p>
            <a href="javascript:void(0)" data-id="{{ranking.id}}" class="praise" data-status="{{ranking.praiseState}}">
                {% if ranking.praiseState >0 %}
                <i class="am-icon-heart col-red"></i>
                {% else %}
                <i class="am-icon-heart-o col-red"></i>
                {% endif %}
            </a>
        </p>
    </td>
</tr>
{% else%}
<tr>
    <td class="top"><em class="col-red">{{ranking.rowNum}}</em>th</td>
    <td class="peo">
        <img src="{{settings.imageAddress}}{{ranking.photoUrl}}" alt="跑步猫">
        <span>{{ranking.nickName}}</span>
    </td>
    <td class="num">{{ranking.totalTrainTime}}</td>
    <td class="like">
        <p class="totalPraise">{{ranking.totalPraise}}</p>
        <p>
            <a href="javascript:void(0)" data-id="{{ranking.id}}" class="praise" data-status="{{ranking.praiseState}}">
                {% if ranking.praiseState >0 %}
                <i class="am-icon-heart col-red"></i>
                {% else %}
                <i class="am-icon-heart-o col-red"></i>
                {% endif %}
            </a>
        </p>
    </td>
</tr>
{% endif %}
{% endfor %}