{% for record in data %}
<li>
    <i class="am-icon-dot-circle-o"></i>
    <h3>{{record.orderStartDate|dateFormat('yyyy/MM/dd')}}  {{record.classNum}}课时<p>有效期至 {{record.orderEndDate|dateFormat('yyyy/MM/dd')}}</p></h3>
    <div class="list-info left pt0">
        <div class="info left pl0">
            <div class="status">
                <div class="line">
                    <span style="width:{{record.remainNum|toPercent(record.classNum)}}"><em></em></span>
                </div>
                <div class="scale">{{record.remainNum}}/{{record.classNum}}</div>
            </div>
            <div class="countdown" data-order-end-date="{{record.orderEndDate}}"></div>
            <!-- {% if record.remainNum>0 %}
            <div style="width:100%;text-align:right;padding-right:1rem;margin-top:1rem;font-size:1.4rem"><a href="view_recordDetail.html">查看明细</a></div>
            {% endif %} -->
        </div>
    </div>
</li>
{% endfor %}