{% for record in data %}
<li>
    <i class="am-icon-dot-circle-o"></i>
    <h3>{{record.orderStartDate|dateFormat('yyyy/MM/dd')}}  {{record.classNum}}课时<p>有效期至 {{record.orderEndDate|dateFormat('yyyy/MM/dd')}}</p></h3>
    <div class="list-info left pt0">
        <div class="info left pl0">
            <div class="status">
                <div class="line">
                    <span style="width:{{(record.remainNum/record.classNum)*100}}%"><em></em></span>
                </div>
                <div class="scale">{{record.classNum}}/{{record.remainNum}}</div>
            </div>
            <div class="countdown" data-order-end-date="{{record.orderEndDate}}"></div>
        </div>
    </div>
</li>
{% endfor %}