{% for shop in data %}
<div class="shop-detail">
    <a href="/course/course.html" data-store-id="{{shop.id}}" data-store-name="{{shop.storeName}}" data-store-address="{{shop.city}}{{shop.district}}{{shop.address}}" data-store-phone="{{shop.contactPhone}}"><img src="{{settings.imageAddress}}{{shop.headImg}}" /></a>
    <!-- <div class="mask">
        <div class="shop-name">{{shop.storeName}}</div>
        <div class="shop-address">
            <p>{{shop.city}}{{shop.district}}{{shop.address}}</p>
            <p>{{shop.contactPhone}}</p>
        </div>
    </div> -->
</div>
{% endfor %}