
{% for till in data %}
<li>
  <div class="pic">
    <a href="/till/till-detail.html?specialId={{till.id}}&year={{till.startDate|dateFormat('yyyy')}}&mm={{till.startDate|dateFormat('MM')}}&day={{till.startDate|dateFormat('dd')}}"><img src="{{settings.imageAddress}}{{till.imgUrl}}" /></a>
    <p>{{till.className}}</p>
  </div>
  <div class="info">
    <div class="tit">
      <p><em>￥<em>{{till.perPrice}}</em>/人</em> {{till.weekNum}}周 {{till.courseNum}}次课</p>
      <p>{{till.startDate|dateFormat('MM/dd')}}~{{till.endDate|dateFormat('MM/dd')}} ，{{till.classTime}}</p>
      <p>招募人数：限{{till.maxNum}}人</p>
      <div class="pub-countdown" data-year="{{till.startDate|dateFormat('yyyy')}}" data-mm="{{till.startDate|dateFormat('MM')}}" data-day="{{till.startDate|dateFormat('dd')}}">
        <div class="fl">
          <i class="am-icon-clock-o col-red"></i>
          <span>剩</span>
          <i class="am-badge am-badge-danger t_d">00</i>
          <span>天</span>
          <i class="am-badge am-badge-danger t_h">00</i>
          <span>时</span>
          <i class="am-badge am-badge-danger t_m">00</i>
          <span>分</span>
          <i class="am-badge am-badge-danger t_s">00</i>
          <span>秒</span>
        </div>
      </div>
    </div>
    <div class="pub-btn"> 
        {% if till.isBuyFlag == 0 %}
        <a href="/till/till-detail.html?specialId={{till.id}}&year={{till.startDate|dateFormat('yyyy')}}&mm={{till.startDate|dateFormat('MM')}}&day={{till.startDate|dateFormat('dd')}}" class="btn btn-red">报名</a>
        {% elseif till.isBuyFlag == 1 %}
        <a  class="btn btn-end">报名</a>
        {% endif %}
        {% if till.maxNum-till.buyerNum <=till.ticketShortage %}
        <p>
          <img src="/img/ico-stock.png" />
        </p>
        {% endif %}
    </div>
  </div>
</li>
{% endfor %}