{% for course in data %}
<a href="/training/training-detail.html?courseId={{course.courseId}}&isBuyFlag={{course.isBuyFlag}}&dayOfWeek={{course.dayOfWeek}}&imgUrl={{course.imgUrl}}">
<li>
  {% for img in course.carouselFigure %}
      {% if loop.first %}
      <img src="{{settings.imageAddress}}{{img.imgUrl}}" />
      {% endif %}
  {% endfor %}
  <div class="line"></div>
  <div class="info">
    <div class="time">
        <p><span>{{course.startTime}}</span><br>~<br><span>{{course.endTime}}</span></p>
    </div>
    <div class="peo">仅剩{{course.courseMaxNum - course.actualNum}}人</div>
    <div class="pub-wbtn">
        <div class="num"><em>$</em><span>{{course.onceCourseHour}} 课时</span></div>
        <p><a href="/training/training-detail.html?courseId={{course.courseId}}&isBuyFlag={{course.isBuyFlag}}&dayOfWeek={{course.dayOfWeek}}&imgUrl={{course.imgUrl}}" class="btn">预约</a></p>
    </div>
  </div>
</li>
</a>
{% endfor %}