{% for course in data %}
<li>
  <img src="/img/shoptest.jpg" />
  <div class="line"></div>
  <div class="info">
    <div class="time">
        <p><span>10：00</span><br>~<br><span>11：00</span></p>
    </div>
    <div class="peo">仅剩3人</div>
    <div class="pub-wbtn">
        <div class="num"><em>$</em><span>1 课时</span></div>
        <p><a href="/training/training-detail.html?courseId={{course.courseId}}&isBuyFlag={{course.isBuyFlag}}&dayOfWeek={{course.dayOfWeek}}&imgUrl={{course.imgUrl}}" class="btn">预约</a></p>
    </div>
  </div>
</li>
{% endfor %}