{% include "../_partial/head.html" %}
<style type="text/css">
body {
    /*background-color: #cacaca;*/
    background-color: #e6e6e6;
}
</style>
<script type="text/javascript">
var courseId = "{{courseId}}";
</script>
<!-- <input type="hidden" value="{{isBuyFlag}}" id='isBuyFlag'> -->
<input type="hidden" value="{{dayOfWeek}}" id='dayOfWeek0'>
<section class="course">
    <div class="pic">
        <div class="am-slider am-slider-default" data-am-flexslider>
            <ul class="am-slides" id="carouselFigure">
            </ul>
        </div>
        <div class="title">
            <span id="courseName"></span>
            <img src="{{settings.imageAddress}}{{imgUrl}}" alt="跑步猫">
        </div>
    </div>
    <div class="info-list bg-e6">
        <ul>
            <li>
                <i class="am-icon-clock-o"></i><span><em id="courseDate"></em>　<em id="dayOfWeek"></em>　<em id="startTime"></em>~<em id="endTime"></em></span>
            </li>
            <li>
                <i class="am-icon-user"></i><span>所需课时：<em id="openCourseNum"></em>课时
                <!-- ，限<em id="buyerNum"></em>人 -->
                </span>
            </li>
            <li>
                <i class="am-icon-map-marker"></i><span id="storeAddress" class="address-span">&nbsp;</span><a href="javascript:void(0);" class="col-red view-map">查看地图</a>
            </li>
            <li>
                <i class="am-icon-phone"></i><span id="contactPhone">&nbsp;</span>
            </li>
            <li class="peo" style="display:block">
              <i class="am-icon-user"></i>
              <span>人数：</span>
              <div class="pub_peolist">
                
              </div>
            </li>
        </ul>
    </div>
    <div class="course-con">
        <div class="tit">场馆简介</div>
        <div class="con" id="courseDesc">
        </div>
    </div>
    <div class="course-con">
        <div class="tit">课间照片</div>
        <div class="con" id="playTimePictures">
        </div>
    </div>
    <div class="course-con courseTarget">
        <div class="tit">学员福利</div>
        <div class="con">
        </div>
    </div>
    <div class="course-con">
        <div class="tit">温馨提示</div>
        <div class="con" id="courseTip">
            
        </div>
    </div>

    <div class="course-con">
        <div class="tit">适用人群</div>
        <div class="con" id="courseTarget">
            
        </div>
    </div>
    <div class="course-con">
        <div class="tit">健身流程</div>
        <div class="con txt-c" id="courseFlow">
            <img src="/img/flow.png" alt="跑步猫" class="flow">
        </div>
    </div>
    <div class="pub-rbtn fixed">
        <a href="javascript:void(0)" class="btn can">立即预约</a>
    </div>
</section>
{% include "../_partial/foot.html" %}
<script src="/js/training/training-detail.js"></script>