{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="course">
    <div class="pub-tab skin1">
        <ul>
            <li>
                <a href="/coach/coach.html">私教课</a>
            </li>
            <li>
                <a href="/training/training.html"  class="cur">自助训练</a>
            </li>
        </ul>
        <div class="data-list">
          <a href="javascript:void(0)" class="btn slider-pre"><i class="am-icon-chevron-left"></i></a>
            <a href="javascript:void(0)" class="btn slider-next"><i class="am-icon-chevron-right"></i></a>
            <div class="list swiper">
                <div class="wrapper">
                    <!-- <a href="javascript:void(0);" class="slider" data-date="2016-06-02">
                        <p>周四</p>
                        <p>6/2</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-03">
                        <p>周五</p>
                        <p>6/3</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-04">
                        <p>周六</p>
                        <p>6/4</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-05">
                        <p>周日</p>
                        <p>6/5</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-06">
                        <p>周一</p>
                        <p>6/6</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-07">
                        <p>周二</p>
                        <p>6/7</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-08">
                        <p>周三</p>
                        <p>6/8</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-09">
                        <p>周四</p>
                        <p>6/9</p>
                    </a>
                    <a href="javascript:void(0);" class="slider " data-date="2016-06-10">
                        <p>周五</p>
                        <p>6/10</p>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="pub-location">
        <div class="fl">上海浦东PLUS乐坊店</div>
        <div class="fr">
            <a href="javascript:void(0)" class="view-map"><i class="am-icon-map-marker"></i>查看地图</a>
        </div>
    </div>
    <div class="coach">
      <ul>
        <li>
          <img src="/img/shoptest.jpg" />
          <div class="line"></div>
          <div class="info">
            <div class="time">
                <p><span>10：00</span><br>~<br><span>11：00</span></p>
            </div>
            <div class="peo">仅剩3人</div>
            <div class="pub-wbtn">
                <div class="num"><em>$</em><span>1 课时</span></div>
                <p><a href="javascript:void(0)" class="btn">预约</a></p>
            </div>
          </div>
        </li>
        <li>
          <img src="/img/shoptest.jpg" />
          <div class="line"></div>
          <div class="info">
            <div class="time">
                <p><span>10：00</span><br>~<br><span>11：00</span></p>
            </div>
            <div class="peo">仅剩3人</div>
            <div class="pub-wbtn">
                <div class="num"><em>$</em><span>1 课时</span></div>
                <p><a href="javascript:void(0)" class="btn">预约</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
</section>

{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
<script src="/js/training/training.js"></script>
<script src="http://map.qq.com/api/js?v=2.exp"></script>
<script src="/plugins/wechat.min.js"></script>
<script src="/js/map/tencent.js"></script>

