{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="course">
    <div class="pub-tab skin1">
        <div class="courses">
            <ul>
                <li>
                    <a href="/course/course.html">常规课</a>
                </li>
                <li>
                    <a href="/till/till.html">特训营</a>
                </li>
                <li>
                    <a href="/coach/coach.html">私教课</a>
                </li>
                <li>
                    <a href="/training/training.html" class="cur">自助训练</a>
                </li>
            </ul>
        </div>
        <div class="data-list">
          <a href="javascript:void(0)" class="btn slider-pre"><i class="am-icon-chevron-left"></i></a>
            <a href="javascript:void(0)" class="btn slider-next"><i class="am-icon-chevron-right"></i></a>
            <div class="list swiper">
                <div class="wrapper">
                    <!-- <a href="javascript:void(0);" class="slider" data-date="2016-06-02">
                        <p>周四</p>
                        <p>6/2</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-03">
                        <p>周五</p>
                        <p>6/3</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-04">
                        <p>周六</p>
                        <p>6/4</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-05">
                        <p>周日</p>
                        <p>6/5</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-06">
                        <p>周一</p>
                        <p>6/6</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-07">
                        <p>周二</p>
                        <p>6/7</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-08">
                        <p>周三</p>
                        <p>6/8</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-09">
                        <p>周四</p>
                        <p>6/9</p>
                    </a>
                    <a href="javascript:void(0);" class="slider " data-date="2016-06-10">
                        <p>周五</p>
                        <p>6/10</p>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="pub-location">
        <div class="fl">上海浦东PLUS乐坊店</div>
        <div class="fr">
            <a href="javascript:void(0)" class="view-map"><i class="am-icon-map-marker"></i>查看地图</a>
        </div>
    </div>
    <div class="coach">
      <ul>
        
        
      </ul>
    </div>
</section>

{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
<script src="/js/training/training.js"></script>
<script src="http://map.qq.com/api/js?v=2.exp"></script>
<script src="/plugins/wechat.min.js"></script>
<script src="/js/map/tencent.js"></script>

