$myReflection-charts-name:myReflection!default;
@include charts($myReflection-charts-name);
$radar-panel-height-px:350px;
$radar-panel-height:rem-calc($radar-panel-height-px);
$radar-margin-top-px:40px;
$radar-margin-top:rem-calc($radar-margin-top-px);
.profile-myReflection {
    .time-panel {
        float: right;
        input {
            float: initial;
            background-color: transparent;
            border: 0;
            line-height: 1.75rem;
            text-align: right;
        }
    }
    .radar-echarts {
        height: $radar-panel-height;
        width: 80%;
        margin: 0 auto;
        canvas {
            padding: 10px 0px;
        }
    }
}