{% include "../_partial/head.html" %}
<style type="text/css">
body {
    background-color: #eee;
}

#vld-tooltip {
    position: absolute;
    z-index: 1000;
    padding: 5px 10px;
    background: #F37B1D;
    min-width: 150px;
    color: #fff;
    transition: all 0.15s;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    display: none;
}

#vld-tooltip:before {
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    content: "";
    border-width: 0 8px 8px;
    border-color: transparent transparent #F37B1D;
    border-style: none inset solid;
    --webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
</style>
<section class="profile-wrap">
    <div class="head-logo">
        <div class="am-form-group am-form-file">
            <img src="/img/app-icon72x72@2x.png" alt="跑步猫" id="userPic">
            <!-- <input type="file" accept="image/*"> -->
        </div>
        <!-- <p>点击头像上传图片</p> -->
        <p id="nicknameText"></p>
    </div>
    <form method="post" class="am-form" id="loginForm">
        <!-- <input type="hidden" name="password" value="{{password}}"> -->
        <input type="hidden" name="mobileNo" value="{{mobileNo}}" id="mobileNo">
        <!-- <input type="hidden" name="storeId" value="{{storeId}}"> -->
        <input type="hidden" name="storeId" value="" id="storeId">
        <!-- 根据推广链接进来的时候才有 refereeId -->
        <input type="hidden" name="refereeId" value="{{refereeId}}">
        <input type="hidden" name="nickName" id="nickName">
        <input type="hidden" name="photoUrl" id="photoUrl">
        <input type="hidden" name="openId" id="openId">
        <!-- <input type="hidden" name="unionId" id="unionId"> -->
        <ul>
            <li>
                <div class="am-form-group">
                    <span class="tit">姓名</span>
                    <!-- <input type="text" name="nickName" id="name" placeholder=""> -->
                    <input type="text" name="userName" id="name" placeholder="" required data-foolish-msg="请输入您的真实姓名！">
                </div>
            </li>
            <li>
                <div class="am-form-group">
                    <span class="tit">微信号</span>
                    <input type="text" name="wechat" id="wx" placeholder="" required data-foolish-msg="请输入正确的微信号！">
                </div>
            </li>
            <li>
                <div class="am-form-group">
                    <span class="tit">身份证</span>
                    <input type="text" name="idcard" id="sid" placeholder="" data-foolish-msg="请输入正确的身份证号码！">
                </div>
            </li>
            <li>
                <span class="tit">性别</span>
                <label class="am-radio">
                    <input type="radio" name="sex" value="1" data-am-ucheck checked> 男
                </label>
                <label class="am-radio">
                    <input type="radio" name="sex" value="0" data-am-ucheck> 女
                </label>
            </li>
            <li>
                <div class="am-form-group">
                    <span class="tit">生日</span>
                    <input type="date" name="birthday" id="borth" placeholder="年/月/日" required data-foolish-msg="请输入正确的出生日期！" style="position: relative;top: -0.1rem;left: -0.5rem;">
                </div>
            </li>
            <li>
                <div class="am-form-group">
                    <span class="tit">体重</span>
                    <input type="text" name="beforeWeight" id="weight" placeholder="" required data-foolish-msg="请输入正确的体重信息！">
                    <i class="unit">kg</i>
                </div>
            </li>
            <li>
                <div class="am-form-group">
                    <span class="tit">身高</span>
                    <input type="text" name="height" id="height" placeholder="" required data-foolish-msg="请输入正确的身高信息！">
                    <i class="unit">cm</i>
                </div>
            </li>
        </ul>
        <div class="am-cf">
            <div class="submit">
                <input type="submit" name="" value="立即体验" class="am-btn am-btn-primary am-btn-sm am-fl">
            </div>
        </div>
    </form>
</section>
{% include "../_partial/foot.html" %}
<script src="/js/public/profile.js"></script>
