{% include "../_partial/head.html" %}
<style type="text/css">
body {
    background-color: #eee;
}
</style>
<section class="profile-wrap">
    <div class="head-logo">
        <div class="am-form-group am-form-file">
            <img src="/img/app-icon72x72@2x.png" alt="跑步猫" id="userPic">
            <!-- <input type="file" accept="image/*"> -->
        </div>
        <!-- <p>点击头像上传图片</p> -->
        <p id="nicknameText"></p>
    </div>
    <form method="post" class="am-form" data-am-validator id="loginForm">
        <input type="hidden" name="password" value="{{password}}">
        <input type="hidden" name="mobileNo" value="{{mobileNo}}">
        <input type="hidden" name="storeId" value="{{storeId}}">
        <input type="hidden" name="refereeId" value="{{refereeId}}">
        <input type="hidden" name="nickName" id="nickName">
        <input type="hidden" name="photoUrl" id="photoUrl">
        <input type="hidden" name="openId" id="openId">
        <input type="hidden" name="unionId" id="unionId">
        <ul>
            <li>
                <span class="tit">姓名</span>
                <!-- <input type="text" name="nickName" id="name" placeholder=""> -->
                <input type="text" name="userName" id="name" placeholder="" required>
            </li>
            <li>
                <span class="tit">微信号</span>
                <input type="text" name="wechat" id="wx" placeholder="" required>
            </li>
            <li>
                <span class="tit">身份证</span>
                <input type="text" name="idcard" id="sid" placeholder="" required>
            </li>
            <li>
                <span class="tit">性别</span>
                <label class="am-radio">
                    <input type="radio" name="sex" value="1" data-am-ucheck checked> 男
                </label>
                <label class="am-radio">
                    <input type="radio" name="sex" value="0" data-am-ucheck> 女
                </label>
            </li>
            <li>
                <span class="tit">生日</span>
                <input type="date" name="birthday" id="borth" placeholder="年/月/日" required>
            </li>
            <li>
                <span class="tit">体重</span>
                <input type="text" name="beforeWeight" id="weight" placeholder="" required>
                <i class="unit">kg</i>
            </li>
            <li>
                <span class="tit">身高</span>
                <input type="text" name="height" id="height" placeholder="" required>
                <i class="unit">cm</i>
            </li>
        </ul>
        <div class="am-cf">
            <div class="submit">
                <input type="submit" name="" value="立即体验" class="am-btn am-btn-primary am-btn-sm am-fl">
            </div>
        </div>
    </form>
</section>
{% include "../_partial/foot.html" %}
<script src="/js/public/profile.js"></script>
