{% include "../_partial/head.html" %}
<style type="text/css">
body {
    background-color: #eee;
}
</style>
<script type="text/javascript">
</script>
<section class="register-wrap">
    <div class="am-logo">
        <img src="/img/logo.png" alt="跑步猫">
    </div>
    <form method="post" class="am-form" data-am-validator id="loginForm">
        <ul>
            <!-- <li>
                <input type="text" name="userName" id="name" placeholder="用户名" required>
            </li> -->
            <li>
                <input type="tel" name="mobileNo" id="tel" placeholder="手机号" required>
                <button type="button" class="am-btn am-btn-default am-radius sendSMS">发送验证码</button>
            </li>
            <!-- <li>
                <input type="password" name="password" id="name" placeholder="密码" required>
            </li> -->
            <li>
                <input type="text" name="smsCode" id="code" placeholder="验证码" required>
            </li>
            <input type="hidden" name="refereeId" value="{{refereeId}}">
        </ul>
        <div class="am-cf">
            <div class="submit">
                <input type="submit" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
            </div>
            <div class="agree">
                <div class="ico">
                    <i class="am-icon-check-square"></i>
                </div>
                <div class="txt">
                    <p><a href="javascript:void(0)" data-am-modal="{target: '#my-popup'}">我已阅读并同意《跑步猫学员入学协议》</a></p>
                    <p>新用户注册送1课时，120猫粮</p>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- 协议 -->
<div class="am-popup content-dialog" id="my-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">RUNNING CAT 健身服务协议</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            亲爱的朋友，首先欢迎你加入跑步猫健康快乐大家庭（下称跑步猫），在这里，您将开启您的快乐健康之旅。本健身服务协议主要有如下几个部分组成，请认真阅读。在您享受跑步猫带给您的专业化服务以及健身的巨大乐趣的同时，也请您遵守本协议规定。<br>
<strong>一、健身须知</strong><br>
<strong>1.1 学员身份</strong><br>
1.1.1、跑步猫采用课时服务模式，学员自行购买获取课时或者跑步猫赠送的课时，才能享受跑步猫体能训练馆的各项专业健身训练服务。<br>
1.1.2、首次购买课时应办理入学手续，签订入学合同，并已知晓跑步猫有关健身训练的规则与警示，承诺遵守跑步猫的相关规定。<br>
1.1.3、因经营管理需要，跑步猫可能会为学员办理学员卡，而且卡片的类型也可能会有所不同，无论跑步猫是否发放学员卡，学员身份将以学员本人自行提交到跑步猫的微信及电话号码做身份识别。<br>
1.1.4、本协议所称“学员”是指年满16周岁未满60周岁身体健康，严格按跑步猫注册账号流程进行注册，如实提供个人信息的人员，无论何种情况，享受跑步猫提供的健身服务，都须遵循本协议最新发布版本的全部条款及补充条款。因此您有义务对注册或首次上课所提供资料的真实性、合法性负责。<br>
<strong>1.2上课管理</strong><br>
1.2.1、学员卡是学员在跑步猫的身份象征，原则上仅为您本人一人使用，但学员在主动征得跑步猫同意的前提下，可以转借，转让，甚至转售学员卡里的课时给亲人或朋友使用，无论何种情况，学员对学员卡有使用权，没有所有权。<br>
1.2.2、任何未经跑步猫同意用非正常手段办理变更手续的学员，私自向任何第三方人员转借，转让，转售课程课时的行为均无效，跑步猫将不予承认。<br>
1.2.3、如学员卡遗失或毁损，请及时通知跑步猫做挂失处理，同时可办理补卡手续，补卡工本费  50  元/张。<br>
1.2.4、严重违反跑步猫规章制度者，跑步猫有权取消其阶段性或终身训练资格，且不予退还任何费用。<br>
1.2.5 学员参与到跑步猫训练课程，跑步猫系统记录的相关虚拟数据（包括但不限于活力值，猫粮，卡路里，里程数，红包，优惠券，训练时间，心率值等等），是跑步猫为激励学员坚持运动而设置的，他们是学员参与跑步猫各种训练产生的数据，这些数据在跑步猫数据平台内仅享有参与活动奖励优惠政策的权益，与任何实际货币（包括但不限于人民币，美元，欧元，日元，韩元等）无任何直接间接的价值兑换关系和折现关系,跑步猫更不提供提现服务。<br>
1.2.6 学员课时上课流程，课程有效期，预约，请假等课程制度详情见《Runningcat课程制度》<br>
<strong>1.3 学员权利</strong><br>
1.3.1、优先参加跑步猫举办的各项活动，优先享受跑步猫提供的各项福利；<br>
    1.3.2、班级期满后有在一定时间内保留学员并优先续约的权利；<br>
1.3.3、学员如因身体遇特殊情况（包括不限于怀孕，分娩，肌肉严重损伤，骨骼受伤或骨折，例假重度疼痛等病痛）,凭三甲及以上医院证明，可申请请假或申请办理训课程练资格延期手续。<br> 
1.3.4、跑步猫随时会推出创意的，新奇的学员课程及奖励学员积极快乐运动的策略，学员在参与课程训练的过程中，可能会产生虚拟数据指标值，学员可以利用这些虚拟数据指标值间接兑换更多服务。<br>
<strong>1.4、学员义务</strong><br>
    1.4.1、如实向跑步猫提供个人信息资料，并在资料发生变动后及时通知跑步猫。(包括但不限于手机号码，体重等)。<br>
    1.4.2、进入跑步猫时主动出示有效学员卡，接受工作人员验证，无卡者，须核对本人头像，微信号及电话号码，配合工作人员验证学员身份。<br>
1.4.3、严禁携带16岁以下儿童进入非儿童运动训练区域，对于擅自进入者造成伤害或损失的，跑步猫概不负责。<br>
1.4.4、学员课时无故迟到，旷课，学员须接受跑步猫对该课时的消课处理。<br>
    1.4.5、严禁在运动训练操场区内吸烟、进食。<br>
    1.4.6、严禁携带宠物进入运动训练操场区。<br>
    1.4.7、为了您的健身安全，建议穿运动服饰、运动鞋参加运动，不得赤裸上身、或穿着不得体的服饰进行运动。否则工作人员有权劝离并取消当日运动权利。<br>
    1.4.8、运动前严禁饮酒或饮用含酒精类饮料，因违反本条规定造成的人身伤害等意外情况，跑步猫概不负责。<br>
    1.4.9、学员在未征得跑步猫同意情况下，禁止在跑步猫内销售任何商品及健身服务，违反本条规定的，跑步猫有权取消其学员资格及课程训练资格。<br>
    1.4.10、跑步猫原则上不接待年龄超过60岁的老人入学，因隐瞒或错报个人健康信息发生的一切责任都由其本人承担。<br>
    1.4.11、学员在训练时必须正确使用各种健身器械，或在健身教练指导下进行，否则出现任何人身伤害跑步猫概不负责。<br>
    1.4.12、学员应自觉爱惜合理使用室内各项设施、设备，使用后须放归原位，如有损坏须照价赔偿。<br>
    1.4.13、严禁在跑步猫内大声喧哗，使用污秽语言以及一切违法活动。<br>
    1.4.14、跑步猫内禁止吸烟、吐痰、乱扔垃圾，请自觉维护跑步猫的环境卫生。<br>
<strong>1.5、储物柜的管理</strong><br>
    1.5.1、跑步猫为学员提供的公共储物柜仅用于学员临时存放衣物等用品；<br>
    1.5.2、公共储物柜用于学员临时存放衣物，须在跑步猫当日营业时间结束前取走学员自己存放的衣物。否则引起的一切后果，由存放人及物品权利人承担，跑步猫工作人员有权清理并对柜内物品不承担保管责任；<br>
    1.5.3、贵重物品严禁存放在储物柜内，如有遗失，跑步猫不承担任何责任；<br>
    1.5.4、储物柜内不得存放易燃、易爆及带有污染、腐蚀、放射性等任何具备危险品特性的物品，否则引起的一切后果，由存放人及物品权利人承担；
    1.5.5、储物柜内不得存放毒品、枪支等任何违反法律规定及国家政策、法律禁止或限制流通的物品；<br>
    1.5.6、储物柜内不得存放动植物及其标本；<br>
    1.5.7、学员衣物及日用品均应存放于储物柜内，在储物柜外的任何非跑步猫所有或占有的物品，跑步猫均有权予以清理，且不承担任何保管、赔偿责任；<br>
<strong>1.6、更衣区域管理</strong><br>
    1.6.1、该区域只供换衣使用，只有学员与取得体验资格的人员方能进入该区域；<br>
    1.6.2、该区域禁止任何形式的拍照、摄像以及录音，后果自付；<br>
    1.6.3、在该区域进食、吸烟、洗晒衣物、奔跑、打闹、嬉戏等均是绝对禁止的；<br>
    1.6.4、学员请自带毛巾等用品，并注意保持室内清洁卫生；<br>
    1.6.5、请妥善保管好私人物品，如有遗失，责任自负； <br>
    1.6.6、请爱惜室内各项设施，如损坏照价赔偿。 <br>
<strong>1.7、安全提示</strong><br>
    1.7.1、学员在锻练前，应积极遵循教练要求，做必要的热身训练，以免受伤。 <br>
    1.7.2、过度锻炼及违规锻炼均有受伤的可能，所以您在运动前应对自己的身体情况进行判断，注意运动强度和时间的适当。<br>
    1.7.3、跑步猫不能给您提供任何有关医疗、医学方面的建议。若因自身身体存在疾患将有可能给您带来伤害，您需自己承担责任，该情况的发生与跑步猫无关。<br>
    1.7.4、对违反本合同约定从而造成物品丢失及人员伤亡的，本跑步猫不承担任何法律责任。<br>
    1.8.5、跑步猫内任何运动训练项目及器械设施均有操作方法和程序，请务必在专业人员的指导下进行操作，如有违背导致受损，跑步猫不承担任何责任。<br>
1.7.6、学员进行任何单项或器械的操作均应在知晓操作方法及注意事项后进行，同时充分注意自身的身体状况及承受能力，否则因此发生任何损害，跑步猫均不承担责任。<br>
<strong>1.8、权利保留</strong><br>
    1.8.1、跑步猫营业时间以相关方式公布（包括但不限于官网，公众号，微信群，训练馆等），学员须遵守该营业时间，非营业时间跑步猫恕不接待。<br>
    1.8.2、因国家政策或者法律法规的规定，跑步猫有权合理修改营业时间并以相关方式公示（包括但不限于官网，公众号，微信群，训练馆等），恕不另行通知学员，该公示即视为通知。<br>
    1.8.3、因经营管理需要，跑步猫有权调整课程涉及到的相关信息（包括但不限于课程的时间，地点，上课教练，价格等），该行为不视为违约，且以相关方式公布后，恕不另行通知学员。<br>
    1.8.4、因器械、设备（设施）检修、维护，跑步猫有权在任意时间段对任意班级或课程作调整行为（包括但不限于停课，改期等），该行为不视为违约。<br>
1.8.5、跑步猫具有对所有学员的激励方式和营销策略设计，定义，解释，实施的全部权力。对这些策略做调整和变更，会在适当的时间地点，用适当的方式进行公布，但不保证能通知到每一位学员。<br>
1.8.6、跑步猫有权对训练馆区域内（更衣室、洗手间等区域除外）全时段全场景，以任意方式拍摄，录制任意格式的媒体介质(包括但不限于照片，视频，音频等)，且学员自愿无偿授权跑步猫对这些介质的自行处理权（包括但不限于复制权，修改权，发布权，传播权，肖像权，署名权用于宣传等）。<br>
1.8.7、跑步猫以其名义组织的其他活动，学员需与跑步猫另行签署相关协议。<br>
1.8.8、学员同意签署本协议即授权跑步猫有权收集、储存、使用学员自行提供的、或在课程中由跑步猫采集的、以及来自第三方的个人信息。<br>
<strong>1.9、免责条款，出现下列情形的，跑步猫不予承担任何责任:</strong><br>
    1.9.1、遇不可抗力（如战争、自然灾害等）造成跑步猫营业终止或学员课不能继续，致使学员遭受损失的；<br>
    1.9.2、学员所受损害是因其自身故意或过失造成的；<br>
    1.9.3、学员所受损害是跑步猫工作人员以外的任何第三方的故意或过失行为导致的；<br>
    1.9.4、非正式入学的体验人员不听劝阻，擅自进入或强行进入学员区域造成损害的，由其自身或致害方承担责任；<br>
    1.9.5、受害方严重违反跑步猫制定的规章制度所造成损害的；<br>
    1.9.6、未交由跑步猫保管而由学员或学员随同人员个人保管的贵重物品发生毁损、灭失、遗失的；<br>
    1.9.7、因学员资料或个人信息发生变动未及时通知跑步猫，从而造成损失或学员权利受限的；<br>
    1.9.8、未听从跑步猫工作人员指导，擅自使用或违反操作规程使用器械、设备造成自身受伤的，由自身负责；造成他人受损或跑步猫财产毁损的，其本人应承担全部赔偿责任，对此跑步猫不承担任何责任。<br>
1.9.9、因学员自身行为不当或学员之间的争议产生的人身和财产损失，跑步猫不承担责任。<br>
1.9.10、跑步猫工作人员在工作时间以外，以私人名义对学员进行指导，跑步猫对此不承担任何责任。<br>
<strong>二、特别声明</strong><br>
    本协议及补充修订等内容的最终解释权归跑步猫所有，同时跑步猫有权对相关内容进行修改，删减，补充等，且修改后的条款不保证及时通知到每一位学员，但对全体学员同样有效。<br>
<strong>三、学员承诺</strong><br>
3.1本人保证注册或签到入学协议时所提供的入会资料及个人信息真实有效；本人身体健康且没有任何不适于健身运动的疾病（包括但不仅限传染性疾病及其它可能影响他人的疾病）；<br>
3.2凡是成功注册跑步猫账号的人员，跑步猫即认为本人已阅读、理解并同意上述条文。
        </div>
    </div>
</div>
{% include "../_partial/foot.html" %}
<script src="/js/public/register.js"></script>
