{% include "../_partial/head.html" %}
<style type="text/css">
body {
    background-color: #eee;
}
</style>
<div data-am-sticky class="shop">
    <div class="am-input-group">
        <input type="text" class="am-form-field" placeholder="请输入关键字搜索">
        <a href="javascript:void(0)" class="am-icon-search"></a>
    </div>
    <!-- <div class="location">
        <a href="javascript:void(0)"><i class="am-icon-map-marker"></i><span id="cityName">上海市</span></a>
    </div> -->
</div>
<div class="shop-list">
    <div class="banner">
        <img src="/img/shopbanner.jpg" />
    </div>
    <h2 class="often">常去店铺</h2>
    <h2 class="other">上海其他店铺</h2>
    <div class="otherShopPanel"></div>
</div>
{% include "../_partial/foot.html" %}
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
<script src="/plugins/wechat.min.js"></script>
<script src="/js/public/shop.js"></script>