{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="course">
    <div class="pub-tab skin1">
        <ul>
            <li>
                <a href="./profile/single-calss.html">私教课</a>
            </li>
            <li>
                <a href="../profile/done-calss.html" class="cur">自助训练</a>
            </li>
        </ul>
        <div class="data-list">
          <a href="javascript:void(0)" class="btn pre"><i class="am-icon-chevron-left"></i></a>
          <a href="javascript:void(0)" class="btn next"><i class="am-icon-chevron-right"></i></a>
          <div class="list">
            <a href="javascript:void(0)">
              <p>周一</p>
              <p>4/1</p>
            </a>
            <a href="javascript:void(0)">
              <p>周二</p>
              <p>4/2</p>
            </a>
            <a href="javascript:void(0)">
              <p>周三</p>
              <p>4/3</p>
            </a>
            <a href="javascript:void(0)">
              <p>周四</p>
              <p>4/4</p>
            </a>
            <a href="javascript:void(0)">
              <p>周五</p>
              <p>4/5</p>
            </a>
            <a href="javascript:void(0)">
              <p>周六</p>
              <p>4/6</p>
            </a>
            <a href="javascript:void(0)" class="cur">
              <p>周日</p>
              <p>4/7</p>
            </a>
          </div>
        </div>
    </div>
    <div class="pub-location">
        <div class="fl">上海浦东PLUS乐坊店</div>
        <div class="fr">
            <a href="javascript:void(0)" class="view-map"><i class="am-icon-map-marker"></i>查看地图</a>
        </div>
    </div>
    <div class="coach">
      <ul>
        <li>
          <img src="/img/shoptest.jpg" />
          <div class="info">
            <div class="name">zuozuo</div>
            <div class="label">
              <p><span class="am-badge am-badge-danger">高效燃脂</span></p>
              <p><span class="am-badge am-badge-danger">NTC</span><span class="am-badge am-badge-danger"> 冠军</span></p>
            </div>
            <div class="pub-wbtn">
                <a href="javascript:void(0)" class="btn">预约</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/img/shoptest.jpg" />
          <div class="info">
            <div class="name">zuozuo</div>
            <div class="label">
              <p><span class="am-badge am-badge-danger">高效燃脂</span></p>
              <p><span class="am-badge am-badge-danger">NTC</span><span class="am-badge am-badge-danger"> 冠军</span></p>
            </div>
            <div class="pub-wbtn">
                <a href="javascript:void(0)" class="btn">预约</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
</section>

{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
