{% include "../_partial/head.html" %}
<style type="text/css">
body {
    background-color: #e6e6e6
}
</style>
<section class="course">
    <div class="pub-tab skin1">
        <div class="courses">
            <ul id="clist" style="width: 100%;">
                <!-- <li>
                    <a href="/course/course.html" class="cur">常规课</a>
                </li>
                <li>
                    <a href="/till/till.html">特训营</a>
                </li>
                <li>
                    <a href="/coach/coach.html">私教课</a>
                </li>
                <li>
                    <a href="/training/training.html">自助训练</a>
                </li> -->
            </ul>
        </div>
        <div class="data-list">
            <a href="javascript:void(0)" class="btn slider-pre"><i class="am-icon-chevron-left"></i></a>
            <a href="javascript:void(0)" class="btn slider-next"><i class="am-icon-chevron-right"></i></a>
            <div class="list swiper">
                <div class="wrapper">
                    <!-- <a href="javascript:void(0);" class="slider" data-date="2016-06-02">
                        <p>周四</p>
                        <p>6/2</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-03">
                        <p>周五</p>
                        <p>6/3</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-04">
                        <p>周六</p>
                        <p>6/4</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-05">
                        <p>周日</p>
                        <p>6/5</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-06">
                        <p>周一</p>
                        <p>6/6</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-07">
                        <p>周二</p>
                        <p>6/7</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-08">
                        <p>周三</p>
                        <p>6/8</p>
                    </a>
                    <a href="javascript:void(0);" class="slider" data-date="2016-06-09">
                        <p>周四</p>
                        <p>6/9</p>
                    </a>
                    <a href="javascript:void(0);" class="slider " data-date="2016-06-10">
                        <p>周五</p>
                        <p>6/10</p>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="pub-location">
        <div class="fl storeName"></div>
        <div class="fr">
            <a href="javascript:void(0);" class="view-map"><i class="am-icon-map-marker"></i>查看地图</a>
        </div>
    </div>
    <div class="coach">
        <ul>
        </ul>
    </div>
    <div class="foot_ps">
        <p>1.预约成功后，你的手机会收到一条确认短信。</p>
        <p>2.课程咨询，请到店或电话联系课程顾问（前台客服）。</p>
        <div class="txt-c">
            <p>欢迎加入RunningCat快乐运动大家庭</p>
            <p>地址：<em class="storeAddress"></em></p>
            <p>电话：<em class="contactPhone"></em></p>
        </div>
    </div>
</section>
{% include "../_partial/footer.html" %} {% include "../_partial/foot.html" %}
<script src="/js/coach/coach.js"></script>
<script src="http://map.qq.com/api/js?v=2.exp"></script>
<script src="/plugins/wechat.min.js"></script>
<script src="/js/map/tencent.js"></script>
