{% include "../_partial/head.html" %}
<style type="text/css">
body {
    /*background-color: #cacaca;*/
    background-color: #e6e6e6;
}
</style>
<script type="text/javascript">
var courseId = "{{courseId}}";
</script>
<input type="hidden" value="{{isBuyFlag}}" id='isBuyFlag'>
<section class="course">
    <div class="pic">
        <div class="am-slider am-slider-default" data-am-flexslider>
            <ul class="am-slides" id="carouselFigure">
            </ul>
        </div>
        <div class="title">
            <span id="courseName"></span>
            <img src="{{settings.imageAddress}}{{imgUrl}}" alt="跑步猫">
        </div>
    </div>
    <div class="info-list bg-e6">
        <ul>
            <li>
                <i class="am-icon-instagram"></i><span>所需课时：1课时</span>
            </li>
            <li>
                <i class="am-icon-clock-o"></i><span><em id="courseDate"></em>　<em id="dayOfWeek">{{dayOfWeek}}</em>　<em id="startTime"></em>~<em id="endTime"></em></span>
            </li>
            <li>
                <i class="am-icon-user"></i><span><em id="openCourseNum"></em>人，已约<em id="buyerNum"></em>人</span>
            </li>
            <li>
                <i class="am-icon-map-marker"></i><span id="storeAddress" class="address-span">&nbsp;</span>
            </li>
            <li>
                <i class="am-icon-phone"></i><span id="contactPhone">&nbsp;</span>
            </li>
        </ul>
    </div>
    <div class="course-con">
        <div class="tit">课程简介</div>
        <div class="con" id="courseDesc">
        </div>
    </div>
    <div class="course-con">
        <div class="tit">课间照片</div>
        <div class="con" id="playTimePictures">
        </div>
    </div>
    <div class="course-con">
        <div class="tit">学员福利</div>
        <div class="con">
            RUNNING CAT提供免费超速wifi、超酷的RUNNING CAT咖啡厅休息区、饮用水、同时提供训练后个人训练美照，记录你时刻的美。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">温馨提示</div>
        <div class="con">
            （1）服装：穿着正确的运动训练装备，如训练鞋（不是跑步鞋），运动短裤、紧身裤、运动训练上衣、可以带上自己的运动毛巾和水壶。
（2）饮食：在运动1小时前可以食用少量食物，避免因为体力活动而导致的功能紊乱，同时可以增加运动效果。进食后1小时之内不要进行运动。运动前补充适量水分可以减少脱水的可能。运动前2小时饮用400-600ml含电解质和糖的运动饮料，也可以在运动前15-20min饮用400-600ml，要少量多次摄入，每次100-200ml，分2-4次饮用。运动前忌讳一次性大量饮水。
（3）交通：轨道交通3号线，4号线 ，延安西路站下，过天桥20米。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">健身流程</div>
        <div class="con txt-c" id="courseFlow">
            <img src="/img/flow.png" alt="跑步猫" class="flow">
        </div>
    </div>
    <div class="pub-rbtn fixed">
        <a href="/course/pay-page.html?courseId={{courseId}}&dayOfWeek={{dayOfWeek}}" class="btn">立即预约</a>
    </div>
</section>
{% include "../_partial/foot.html" %}
<script src="/js/course/course-detail.js"></script>