{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #b5b5b5
    }
</style>
<section class="course">
    <div class="pic">
      <div class="am-slider am-slider-default" data-am-flexslider>
        <ul class="am-slides">
          <li><img src="/img/shoptest.jpg" /></li>
          <li><img src="/img/shoptest.jpg" /></li>
          <li><img src="/img/shoptest.jpg" /></li>
          <li><img src="/img/shoptest.jpg" /></li>
        </ul>
      </div>
      <div class="title">
        <span>魔力弹绳</span>
        <img src="/img/app-icon72x72@2x.png" alt="跑步猫">
      </div>
    </div>
    <div class="info-list bg-e6">
      <ul>
        <li>
          <i class="am-icon-instagram"></i><span>所需课时：1课时</span>
        </li>
        <li>
          <i class="am-icon-clock-o"></i><span>2016/04/02　周二　12:00~13:00</span>
        </li>
        <li>
          <i class="am-icon-user"></i><span>25人，已约20人</span>
        </li>
        <li>
          <i class="am-icon-map-marker"></i><span>上海长宁区凯旋路1010号Ｃ栋2楼</span>
        </li>
        <li>
          <i class="am-icon-phone"></i><span>021-563125463</span>
        </li>
      </ul>
    </div>
    <div class="course-con">
        <div class="tit">课程简介</div>
        <div class="con">
          跑步猫（RunningCat），中国第一家正能量、重口味、高逼格的数字化多媒体体能训练营。拥有全球第一个自主研发的数字化多媒体体能训练馆，自主研发的MRT2.0多媒体光影互 动跑步体能训练课程。中国第一家美国海军陆战队训练体系TRX课程及教练培训基地。中国唯一授权UGI-BALL训练体系课程（刻画人鱼线，打造腹部清晰线条轮廓）。 运动专业化、娱乐化、游戏化、训练互动化，边玩边运动，越玩越专业。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">课程福利</div>
        <div class="con">
          每个人赠送500猫粮的，可随意兑换想要上的课程。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">课间照片</div>
        <div class="con">
          <img src="/img/shoptest.jpg" />
        </div>
    </div>
    <div class="course-con">
        <div class="tit">训练效果</div>
        <div class="con">
          1、服装：适合贴身的运动服饰，避免衣服宽松造成对动作       的影响。脚下要穿软底舒适、防滑耐磨的运动鞋。<br>
2、饮食：在运动1小时前可以食用少量食物，避免因为体力活动而导致的功能紊乱，同时可以增加运动效果。进食后1小时之内不要进行运动。运动前补充适量水分可以减少脱水的可能。<br>
3、交通：有地下停车场，轨交7号线 花木路站。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">FAQ</div>
        <div class="con">
          每个人赠送500猫粮的，可随意兑换想要上的课程。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">温馨提示</div>
        <div class="con">
          每个人赠送500猫粮的，可随意兑换想要上的课程。
        </div>
    </div>
    <div class="course-con">
        <div class="tit">课程流程</div>
        <div class="con txt-c">
          <img src="/img/flow.png" alt="跑步猫" class="flow">
        </div>
    </div>
    <div class="pub-rbtn">
        <a href="javascript:void(0)" class="btn">立即预约</a>
    </div>
</section>

{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
