{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="course">
    <div class="pub-tab skin1">
        <ul>
            <li>
                <a href="/till/till.html">特训营</a>
            </li>
            <li>
                <a href="/course/course.html" class="cur">常规课</a>
            </li>
        </ul>
        <div class="data-list">
          <a href="javascript:void(0)" class="btn pre"><i class="am-icon-chevron-left"></i></a>
          <a href="javascript:void(0)" class="btn next"><i class="am-icon-chevron-right"></i></a>
          <div class="list">
            <a href="javascript:void(0)">
              <p>周一</p>
              <p>4/1</p>
            </a>
            <a href="javascript:void(0)">
              <p>周二</p>
              <p>4/2</p>
            </a>
            <a href="javascript:void(0)">
              <p>周三</p>
              <p>4/3</p>
            </a>
            <a href="javascript:void(0)">
              <p>周四</p>
              <p>4/4</p>
            </a>
            <a href="javascript:void(0)">
              <p>周五</p>
              <p>4/5</p>
            </a>
            <a href="javascript:void(0)">
              <p>周六</p>
              <p>4/6</p>
            </a>
            <a href="javascript:void(0)" class="cur">
              <p>周日</p>
              <p>4/7</p>
            </a>
          </div>
        </div>
    </div>
    <div class="pub-location">
        <div class="fl">上海浦东PLUS乐坊店</div>
        <div class="fr">
            <a href="javascript:void(0)" class="view-map"><i class="am-icon-map-marker"></i>查看地图</a>
        </div>
    </div>
    <div class="pub-list skin1">
        <ul>
            <li>
                <img src="/img/ico-shop.png" class="ico">
                <div class="list-info">
                    <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
                    <div class="info">
                       <h2>毒毒怪</h2>
                       <p class="tit">
                           <span>高效燃脂</span>
                           <span><em>.</em>HIIT</span>
                           <span><em>.</em>初级</span>
                           <span><em>.</em>体能</span>
                       </p>
                       <p class="houre">
                           <i class="am-icon-instagram"></i><span class="text-muted">1 课时</span>
                       </p>
                       <p class="clock">
                           <i class="am-icon-clock-o"></i><span class="text-muted">10:00~11:00</span>
                       </p>
                    </div>
                    <div class="pub-btn">
                        <a href="/course/course-detail.html" class="btn btn-red">预约</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-info">
                    <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
                    <div class="info">
                       <h2>毒毒怪</h2>
                       <p class="tit">
                           <span>高效燃脂</span>
                           <span><em>.</em>HIIT</span>
                           <span><em>.</em>初级</span>
                           <span><em>.</em>体能</span>
                       </p>
                       <p class="houre">
                           <i class="am-icon-instagram"></i><span class="text-muted">1 课时</span>
                       </p>
                       <p class="clock">
                           <i class="am-icon-clock-o"></i><span class="text-muted">10:00~11:00</span>
                       </p>
                    </div>
                    <div class="pub-btn">
                        <a href="#" class="btn btn-end">结束</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="/img/ico-shop.png" class="ico">
                <div class="list-info">
                    <div class="img"><img src="/img/app-icon72x72@2x.png" alt="跑步猫"></div>
                    <div class="info">
                       <h2>毒毒怪</h2>
                       <p class="tit">
                           <span>高效燃脂</span>
                           <span><em>.</em>HIIT</span>
                           <span><em>.</em>初级</span>
                           <span><em>.</em>体能</span>
                       </p>
                       <p class="houre">
                           <i class="am-icon-instagram"></i><span class="text-muted">1 课时</span>
                       </p>
                       <p class="clock">
                           <i class="am-icon-clock-o"></i><span class="text-muted">10:00~11:00</span>
                       </p>
                    </div>
                    <div class="pub-btn">
                        <a href="#" class="btn btn-end">结束</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

{% include "../_partial/footer.html" %}
{% include "../_partial/foot.html" %}
