{% include "../_partial/head.html" %}
<style type="text/css">
    body{
        background-color: #e6e6e6
    }
</style>
<section class="course">
  <div class="sucess">
    <div class="ico"><img src="/img/sucess.png" alt="跑步猫" class=""></div>
    <p>2016/06/06 周二 </p>
    <p>11:00~12:00 </p>
    <p>上海长宁区凯旋路1010号C栋2F</p>
    <p>（021-1234555）</p>
    <p>RunningCat，带你装X，带你飞─=≡Σ</p>
    <p class="tips">恭喜您~约课成功！</p>
    <div class="btn">
      <a href="/profile/single-class.html">查看课表</a>
      <a href="/course/course.html">继续约课</a>
    </div>
    <p class="bottom">欢迎加入running cat 快乐运动大家庭</p>
  </div>
</section>

{% include "../_partial/foot.html" %}
