body {
    font-size: 1.2rem;
    background-color: $gray;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

ul,
li {
    list-style: none;
}

textarea {
    resize: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.txt-l {
    text-align: left !important;
}

.txt-c {
    text-align: center !important;
}

.txt-r {
    text-align: right !important
}

.bd0 {
    border: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pl0 {
    padding-left: 0 !important
}

.pt0 {
    padding-top: 0 !important;
}

.pr0 {
    padding-right: 0 !important
}

.mr0 {
    margin-right: 0 !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mt-05rem {
    margin-top: -0.5rem !important;
}

.mt-1rem {
    margin-top: -1rem !important;
}

.mt-2rem {
    margin-top: -2rem !important;
}

em,
i {
    font-style: normal;
}

p {
    margin: 0;
    padding: 0;
}

.hr {
    display: block;
    height: 12px;
    background: #cacaca;
    border-bottom: #c2c2c2 solid 1px;
    border-top: #c2c2c2 solid 1px;
}

.hrm0 {
    display: block;
    margin: 0;
    height: 12px;
    background: #cacaca;
    border-bottom: #c2c2c2 solid 1px;
    border-top: #c2c2c2 solid 1px;
}

.pub-line {
    display: block;
    margin-left: -2em;
    height: 12px;
    background: #cacaca;
    border-bottom: #c2c2c2 solid 1px;
    border-top: #c2c2c2 solid 1px;
}

.bg-e6 {
    background: #e6e6e6
}

.col-red {
    color: #990100 !important;
}

.fixed {
    position: fixed;
    right: 0;
    z-index: 9999;
    bottom: 0 !important;
    .btn {
        margin-right: 0 !important;
    }
}


/*login*/

.am-logo {
    width: 100%;
    text-align: center;
    padding-top: 3.067rem;
    padding-bottom: 3.387rem;
}

.am-logo img {
    width: 11.5rem;
}

.login-wrap .am-form ul {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
}

.login-wrap .am-form ul li {
    width: 24rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    border-bottom: #d2d2d2 solid 1px;
    position: relative;
    margin-bottom: 1rem;
}

.login-wrap .am-form ul li input {
    border: 0;
    background: none;
    box-shadow: none !important;
}

.login-wrap .am-form ul li input:focus {
    background: none;
    border: 0;
    box-shadow: none !important;
}

.login-wrap .am-form ul li i {
    position: absolute;
    left: 0;
    top: 0.1rem;
    color: #7a7a7a;
    font-size: 2rem;
}

.am-cf .submit {
    width: 24rem;
    margin: 0 auto
}

.am-cf .submit input {
    border: none;
    text-align: center;
    color: #ffffff;
    font-size: 2.4rem;
    width: 100%;
    line-height: 1.133rem;
    background-color: #990100;
    border-radius: 2.133rem;
    margin-top: 2rem;
}

.am-cf p {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 0.6rem;
    font-size: 1.4rem;
}

.am-cf p a {
    color: #4d4d4d;
}

.other-login {
    margin-top: 3.2rem;
}

.other-login-title {
    width: 26rem;
    margin: auto;
}

.other-login-title h6 {
    width: 100%;
    height: 0.9rem;
    border-bottom: 1px solid #959595;
    text-align: center;
    box-sizing: border-box;
}

.other-login-title h6 span {
    display: inline-block;
    height: 0.4rem;
    line-height: 0.4rem;
    background-color: #eee;
    padding: 0 0.133rem;
    color: #4d4d4d;
}

ul.other-login-way {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 2.5rem;
}

ul.other-login-way li {
    width: 3.5rem;
    margin: 0 1.5rem;
    display: inline-block;
}

ul.other-login-way li img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}


/**/


/*-----------------------------*/


/*-----------------------------*/


/*register*/

.register-wrap .am-form ul {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
}

.register-wrap .am-form ul li {
    width: 90%;
    margin: 0 auto;
    border-bottom: #d2d2d2 solid 1px;
    position: relative;
    margin-bottom: 1rem;
}

.register-wrap .am-form ul li input {
    border: 0;
    background: none;
    box-shadow: none !important;
}

.register-wrap .am-form ul li input:focus {
    background: none;
    border: 0;
    box-shadow: none;
}

.register-wrap .am-form ul li .am-btn {
    position: absolute;
    right: 0rem;
    top: -0.6rem;
}

.am-cf .agree {
    width: 30rem;
    margin: 0 auto;
}

.am-cf .ico {
    color: #990100;
    width: 1.5rem;
    float: left;
    margin-left: 3.5rem;
    margin-top: 1rem;
}

.am-cf .txt {
    display: inline-block;
    width: 24rem;
    float: left;
    margin-top: 1rem;
}

.am-cf .txt a {
    color: #a1a1a1;
}

.am-cf .txt p {
    display: inline-block;
    font-size: 12px;
    text-align: left;
    color: #a1a1a1;
    margin-top: 0.1rem;
}


/**-----------------------------*/


/*profile*/

.profile-wrap {
    padding-bottom: 4rem;
}

.profile-wrap .am-form ul {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    .am-form-group {
        margin-bottom: 0
    }
}

.profile-wrap .am-form ul li {
    width: 90%;
    margin: 0 auto;
    padding-left: 5rem;
    border-bottom: #d2d2d2 solid 1px;
    position: relative;
    margin-bottom: 1rem;
    height: 30px;
}

.profile-wrap .am-form ul li input,
.profile-wrap .am-form ul li input[readonly],
.profile-wrap .am-form ul li select:not(.area) {
    border: 0;
    background: none;
    font-size: 1.4rem;
    position: relative;
    top: -0.1rem;
    height: 30px;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

.profile-wrap .am-form ul li #borth {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0rem;
    height: 30px;
    z-index: 9;
    margin-right: rem-calc(-30px);
    &:focus {
        box-shadow: none !important
    }
}

.profile-wrap .am-form ul li #val {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0rem;
    height: 30px;
    z-index: 8;
}

.profile-wrap .am-form ul li #weight {
    right: 0.2rem !important;
    top: -0.2rem;
}

.profile-wrap .am-form ul li #height {
    right: 0.4rem !important;
    top: -0.1rem;
}

.profile-wrap .am-form ul li input[type="radio"] {
    height: auto;
}

.profile-wrap .am-form ul li input:focus {
    background: none;
    border: 0;
    box-shadow: none;
}

.profile-wrap .am-form ul li span.tit {
    position: absolute;
    left: 0;
    top: 0.0rem;
    color: #a1a1a1;
    font-size: 1.6rem;
    em {
        color: #990100;
        font-style: normal;
        margin-left: 0.2rem;
    }
}

.profile-wrap .am-form ul li i.unit {
    position: absolute;
    right: 0;
    top: 0.1rem;
    color: #a1a1a1;
    font-size: 1.4rem;
    font-style: normal;
}

.profile-wrap .am-form ul li .am-ucheck-icons i {
    color: #d3d3d3;
}

.profile-wrap .am-form ul li label {
    display: inline-block;
    color: #a1a1a1;
    margin-right: 1rem;
    margin-top: 0.2rem !important;
    min-height: 1.52rem !important;
    padding-left: 20px !important;
}

.head-logo {
    width: 100%;
    text-align: center;
    padding-top: 3.067rem;
    padding-bottom: 3.387rem;
}

.head-logo img {
    width: 6rem;
    border-radius: 50%;
    height: 6rem;
}

.head-logo p {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: #7a7a7a;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.head-logo .am-form-group {
    margin-bottom: 0
}


/*-------------------------*/


/*shop*/

.shop {
    width: 100%;
    background-color: #000;
    padding: 1rem 0rem;
    display: inline-block;
}

.shop .am-input-group {
    position: relative;
    float: left;
    width: 80%;
    margin-left: 1rem;
}

.shop .am-icon-search {
    position: absolute;
    right: -3rem;
    top: -0.3rem;
    color: #e0e0e0;
    z-index: 99;
    font-size: rem-calc(40px);
}

.shop .am-input-group input {
    border-radius: 50px 50px 50px 50px !important;
    height: 32px;
    font-size: 14px;
}

.shop .location {
    float: right;
    margin-right: 1rem;
    display: inline-block;
}

.shop .location span {
    color: #e0e0e0;
    font-size: 2rem;
    float: left;
}

.shop .location i {
    color: #ccc;
    font-size: 2rem;
    margin-right: 0.5rem;
    float: left;
}

.shop-list {
    width: 100%;
}

.shop-list h2 {
    margin: 0;
    padding: 0;
    margin: 1rem 0;
    color: #f64e4e;
    text-shadow: 0;
    font-weight: normal;
    font-size: 1.4rem;
    text-indent: 1rem;
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
    &.often {
        display: none;
    }
}

.shop-detail {
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

.shop-detail .mask {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 100%;
    display: inline-block;
    padding: 0.4rem 0;
}

.shop-detail .mask .shop-name {
    float: left;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.6rem;
}

.shop-detail .mask .shop-address {
    float: right;
    margin-right: 1rem;
}

.shop-detail .mask .shop-address p {
    margin: 0;
    padding: 0;
    color: #a1a1a1;
    max-width: 12rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: -0.2rem
}


/*dialog mask opacity*/

.am-dimmer {
    background-color: rgba(0, 0, 0, .8);
}


/*pub dialog*/

.pub-dialog {
    bottom: auto;
    .am-modal-bd {
        border-bottom: 0;
        margin-top: 1rem;
        .select-attr {
            width: 90%;
            margin: 0 auto;
            .list {
                width: 100%;
                display: inline-block;
                text-align: center;
                a {
                    color: #fff;
                    font-size: 1.6rem;
                    padding: 0rem 1.2rem;
                    display: inline-block;
                    border: #54575a solid 1px;
                    border-radius: 2px;
                    margin-right: 1.4rem;
                    margin-bottom: 1rem;
                    margin-left: 1.4rem;
                    &.cur {
                        background: #990100;
                    }
                }
            }
            .tips {
                color: #a1a1a1;
                padding-top: 1rem;
                width: 100%;
                text-align: center;
                font-size: 1.4rem;
                border-top: #fff solid 1px;
                margin-top: 0.4rem;
            }
            .title {
                color: #a1a1a1;
                padding-bottom: 2rem;
                width: 100%;
                text-align: center;
                font-size: 1.4rem;
                margin-top: 1.6rem;
            }
            .input-txt {
                width: 100%;
                margin: 0 auto;
                border-bottom: #d2d2d2 solid 1px;
                position: relative;
                margin-bottom: 1rem;
                input {
                    border: 0;
                    background: none;
                    font-size: 1.4rem;
                    position: relative;
                    top: -0.3rem;
                    height: 30px;
                    color: #fff;
                    width: 80%;
                }
                i {
                    position: absolute;
                    right: 2rem;
                    top: -0.2rem;
                    color: #fff;
                    font-size: 1.6rem;
                    font-style: normal;
                }
            }
        }
    }
    .am-modal-dialog {
        background: none;
        width: 100%;
        .am-modal-hd {
            padding: 0;
        }
    }
    .am-modal-hd {
        width: 100%;
        display: inline-block;
        .btn {
            color: #fff;
            font-size: 1.6rem;
            i {
                margin-right: 0.5rem;
            }
        }
        .back {
            float: left;
            position: relative;
            // top: -1.3rem;
            margin-left: 1.2rem;
            i {
                font-size: 2.8rem;
                position: relative;
                // top: 0.3rem;
            }
            border-right: 0;
        }
        .save {
            float: right;
            margin-right: 1.2rem;
            border-left: 0;
        }
    }
}


/* content-dialog  */

.content-dialog {
    background: #e6e6e6;
    .am-popup-hd {
        background: #e6e6e6;
    }
    .am-popup-bd {
        background: #e6e6e6;
    }
}


/*pub-tab*/

.pub-tab {
    width: 100%;
    display: inline-block;
    ul {
        margin: 0;
        padding: 0;
        li {
            float: left;
            a {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 0.2rem 0;
            }
        }
    }
    .data-sort {
        width: 100%;
        text-align: center;
        position: relative;
        display: inline-block;
        margin-top: 1rem;
    }
    &.skin0 {
        ul {
            li {
                width: 50%;
                &:last-child {
                    a {
                        border-left: 0;
                    }
                }
                a {
                    color: #333;
                    font-size: 1.8rem;
                    border: #535353 solid 1px;
                    &.cur {
                        background: #1a1a1a;
                        color: #fff;
                    }
                }
            }
        }
    }
    &.skin1 {
        background: #990100;
        .data-sort {
            width: 100%;
            margin-top: 0;
            padding: 0.3rem 0;
            input.am-form-field {
                border: 0;
                background: none;
                color: #fff;
                text-indent: 1rem;
            }
            button.am-btn {
                background: none;
                border: 0;
                color: #333;
            }
        }
        ul {
            li {
                width: 50%;
                a {
                    color: #b3b3b3;
                    display: inline-block;
                    padding: 0.8rem 0;
                    font-size: 1.8rem;
                    background: #333;
                    &.cur {
                        background: #1a1a1a;
                        color: #fff;
                    }
                }
            }
        }
    }
}


/*data-list*/

.data-list {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    float: left;
    .btn {
        position: absolute;
        // top: 1.2rem;
        &.slider-pre {
            padding: 1.25rem 0.625rem;
            left: 0;
            color: $gray-light;
            // left: 0.5rem;
        }
        &.slider-next {
            padding: 1.25rem 0.625rem;
            right: 0;
            color: $gray-light;
            // right: 0.5rem;
        }
        &.active {
            color: $white;
        }
        // i {
        //     color: #fff;
        // }
    }
    $swiper-height-px:70px;
    $swiper-height:rem-calc($swiper-height-px);
    .swiper {
        width: 88%;
        height: $swiper-height;
        // display: inline-block;
        // float: left;
        overflow: hidden;
        margin-left: 6%;
        .wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: -1px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            overflow-x: scroll;
            .slider {
                width: 14.2%;
                -webkit-flex-shrink: 0;
                -ms-flex: 0 0 auto;
                flex-shrink: 0;
                height: 100%;
                position: relative;
                padding: 6px 0px;
                color: $white;
                // display: inline-block;
                // background: #f45252;
                // color: #fff;
                // width: 14.2%;
                // float: left;
                // text-align: center;
                // padding: 0.3rem 0;
                p {
                    margin: 0;
                    padding: 0;
                }
                &.cur {
                    background: #770101;
                }
            }
        }
    }
}


/* pub-title*/

.pub-title {
    width: 100%;
    display: inline-block;
    padding: 1rem 0;
    span {
        font-size: 1.6rem;
    }
    a {
        font-size: 1.4rem;
        &.red {
            color: #990100;
        }
    }
}


/*pub-location*/

.pub-location {
    width: 100%;
    display: inline-block;
    padding: 0.8rem 0;
    background: #fff;
    margin-top: -0.4rem;
    .fl {
        color: #80858b;
        margin-left: 0.6rem;
        font-size: 1.4rem;
    }
    .fr {
        margin-right: 0.6rem;
        font-size: 1.4rem;
        a {
            color: #80858b;
            i {
                margin-right: 0.3rem;
            }
        }
    }
}


/* pub-list*/

.pub-list {
    width: 100%;
    display: inline-block;
    margin-top: 0.8rem;
    padding-bottom: 1rem;
    position: relative;
    hr {
        position: absolute;
        bottom: 1rem;
        z-index: 8;
        background: #e6e6e6;
        display: none;
        width: 100%;
        height: 3rem;
        border: 0;
    }
    &.skin0 {
        margin-top: 0;
        padding-bottom: 3rem;
        ul {
            width: 60%;
            margin-left: 20%;
            margin-top: 0;
            padding-top: 0;
            &.comment {
                li {
                    border-bottom: #7d7d7d solid 1px;
                    padding-bottom: 0.8rem;
                    textarea {
                        margin-top: 1rem !important;
                    }
                    &:last-child {
                        border: 0;
                    }
                    .list-info {
                        .list {
                            .am-icon-circle-thin {
                                color: #8b8b8b;
                            }
                            a {
                                color: #4d4d4d;
                            }
                            label {
                                display: inline;
                                font-weight: $font-weight-normal;
                            }
                        }
                    }
                }
            }
            li {
                width: 120%;
                margin-bottom: 1.5rem;
                .am-icon-dot-circle-o {
                    em {
                        font-style: normal;
                        font-size: 1.2rem;
                        position: absolute;
                        left: -10.5rem;
                        width: 10rem;
                        color: #333;
                        font-weight: normal;
                        top: 0.5rem;
                        text-align: right;
                    }
                }
                .list-info {
                    border: 0;
                    top: 0;
                    padding: 0;
                    margin-top: -0.5rem;
                    .info {
                        padding-left: 0rem;
                        .title {
                            width: 110%;
                        }
                    }
                    .img-list {
                        width: 100%;
                        display: inline-block;
                        margin-top: 0.5rem;
                        &.upload {
                            width: 112%;
                            margin-top: 0rem;
                            .task {
                                display: inline-block;
                                width: 20%;
                                margin-left: 2%;
                                text-align: center;
                                margin-bottom: .5rem;
                                p {
                                    margin: 0;
                                    padding: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .uploadTaskPanel {
                                background: #c8c8c8;
                                position: relative;
                                margin-top: 0.2rem;
                                .am-form-group {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    a {
                                        color: #7d7d7d;
                                        font-size: 2rem;
                                        .am-icon-plus {
                                            position: relative;
                                            top: 0.7rem;
                                        }
                                    }
                                }
                                img {
                                    opacity: 0;
                                }
                            }
                        }
                        .task {
                            display: inline-block;
                            width: 28%;
                            margin-left: 4%;
                            p {
                                margin: 0;
                                padding: 0;
                                margin-bottom: 0.2rem;
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                    .list {
                        p {
                            margin: 0;
                            padding: 0;
                            margin-bottom: 0.7rem;
                            font-size: 1.4rem;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            i {
                                margin-right: 0.5rem;
                                color: #990100;
                                font-size: 5px;
                            }
                            .am-icon-circle {
                                color: #990100;
                            }
                            .am-icon-circle-o {
                                color: #4d4d4d;
                            }
                        }
                    }
                    textarea {
                        margin-left: 2%;
                        width: 100%;
                        margin-top: 1.5rem;
                        border: #535353 solid 1px;
                        height: 90px;
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }
    &.skin1 {
        margin-top: 0;
        ul {
            border: 0;
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 0;
                padding-top: 1rem;
                &:last-child {
                    .list-info {
                        border: 0;
                    }
                }
                &:first-child {
                    .ico {
                        top: -0.4rem;
                    }
                }
                .btn {
                    position: absolute;
                    right: 0.5rem;
                    top: 50%;
                    padding: 0.5rem 0rem !important;
                    border-radius: 3px;
                    width: 5rem;
                    text-align: center;
                    margin-top: -2rem;
                }
                .ico {
                    position: absolute;
                    top: -0.6rem;
                    right: 0;
                    width: 5rem;
                }
                .list-info {
                    border: 0;
                    border-bottom: #c6c6c6 dotted 1px;
                    padding-top: 0;
                    padding-bottom: 0;
                    top: 0;
                    .info {
                        margin-bottom: -1rem;
                        h2 {
                            margin-top: 0.2rem;
                            display: inline-block;
                            width: 100%;
                            margin-bottom: -0.3rem;
                            &.mt1 {
                                margin-top: 1rem;
                            }
                        }
                        .tit {
                            color: #80858b;
                            display: inline-block;
                            width: 65%;
                            margin-top: 0.5rem;
                            em {
                                position: relative;
                                top: -0.3rem;
                                margin-left: 0.2rem;
                                margin-right: 0.2rem;
                            }
                        }
                        p {
                            color: #80858b;
                            font-size: 1.2rem;
                            margin-top: 0.2rem;
                            max-width: 65%;
                            display: inline-block;
                            width: 100%;
                            span {
                                margin-right: 0.3rem;
                                em {
                                    position: relative;
                                    top: -0.2rem;
                                    margin-right: 0.3rem;
                                    font-size: 1.8rem;
                                    font-weight: bold;
                                }
                            }
                            i {
                                margin-right: 0.3rem;
                            }
                            &.houre {
                                i {}
                            }
                            &.clock {
                                color: #990100;
                            }
                        }
                    }
                }
            }
        }
    }
    &.skin2 {
        width: 86%;
        display: block;
        margin-left: 6%;
        margin-top: 2rem;
        ul {
            width: 104%;
            li {
                margin-bottom: 0;
            }
        }
        .cur {
            h2 {
                color: #990100!important;
            }
            .am-icon-dot-circle-o {
                color: #990100!important;
            }
        }
        .list-info {
            border: 0;
            padding-top: 0;
            left: -0.5rem;
            .info {
                padding: 0;
                h2 {
                    color: #717171;
                }
            }
            .am-tabs {
                border-color: #555;
                ul {
                    width: 100%;
                    border-left: 0;
                    border-color: #999;
                    li {
                        width: auto;
                        border-color: #999;
                        margin-bottom: -1px;
                        a {
                            color: #333;
                            margin-right: 0;
                            font-size: 1.2rem;
                        }
                        &.am-active {
                            background: #e6e6e6;
                            a {
                                color: #990100;
                                background: none;
                                border-color: #999;
                                border-bottom-color: transparent;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .am-tabs-bd {
                    border-color: #999;
                    margin-top: -0.5rem;
                }
            }
        }
    }
    &.skin3 {
        padding-bottom: 3rem;
        ul {
            li {
                margin-bottom: 1rem;
            }
        }
        .list-info {
            padding-top: 0.0rem;
            &.left {
                &::after {
                    margin-top: -94px;
                }
                &::before {
                    margin-top: -95px;
                }
            }
            .img {
                top: 65%;
                left: 0.2rem;
                width: 2.5rem;
                height: 2.5rem;
                // max-width: 3rem;
            }
            .info {
                padding-left: 3.5rem;
                p {
                    // margin-top: 1rem;
                    line-height: 2.5rem;
                }
            }
        }
        .line {
            width: 94%;
            position: relative;
            border-bottom: #959595 solid 1px;
            padding-bottom: 1rem;
            margin-left: 3%;
            margin-top: 1.2rem;
            &:last-child {
                border: 0;
                padding-bottom: 0;
            }
        }
    }
    &.skin4 {
        padding-bottom: 3rem;
        ul {
            li {
                margin-bottom: 1rem;
            }
        }
    }
    &.skin5 {
        ul {
            border: 0;
            li {
                .list-info {
                    border: 0;
                    .price {
                        border: 0 !important;
                    }
                    .code {
                        &:last-child {
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
    h3 {
        margin: 0;
        padding: 0;
        margin-bottom: 1.2rem;
        color: #333;
        font-size: 1.6rem;
        font-weight: normal;
        margin-top: -0.5rem;
        p {
            font-size: 1rem;
        }
    }
    ul {
        width: 100%;
        display: inline-block;
        border-left: #999 solid 1px;
        position: relative;
        z-index: 7;
        li {
            position: relative;
            width: 100%;
            display: inline-block;
            margin-bottom: 3rem;
            dl {
                width: 100%;
                display: inline-block;
                margin: 0;
                padding: 0;
                margin-top: -0.2rem;
                dd {
                    float: left;
                    width: 33%;
                    font-size: 1.4rem;
                }
            }
            .am-icon-dot-circle-o {
                position: absolute;
                left: -3rem;
                top: 0rem;
                // color: #990100;
                font-size: 1.6rem;
                font-weight: bold;
                background: #e6e6e6;
                // background-color: transparent;
                line-height: 0;
            }
            .am-icon-circle-o {
                position: absolute;
                left: -3rem;
                top: 0rem;
                color: #717171;
                font-size: 1.6rem;
                font-weight: bold;
                background: #e6e6e6;
                // background-color: transparent;
                line-height: 0;
            }
            .list-info {
                width: 100%;
                display: inline-block;
                padding: 1rem 0rem 1.5rem 0;
                position: relative;
                border: #959595 solid 1px;
                top: -0.5rem;
                &.left {
                    &::after {
                        right: 100%;
                        border-color: rgba(149, 149, 149, 0);
                        border-right-color: #e6e6e6;
                        border-width: 6px;
                        top: 50%;
                        margin-top: -4.2rem;
                    }
                    &::before {
                        right: 100%;
                        border-color: rgba(149, 149, 149, 0);
                        border-right-color: #666;
                        border-width: 7px;
                        top: 50%;
                        margin-top: -4.3rem;
                    }
                }
                &::before {
                    position: absolute;
                    content: "";
                    height: 0;
                    width: 0;
                    pointer-events: none;
                    border: solid transparent;
                }
                &::after {
                    position: absolute;
                    content: "";
                    height: 0;
                    width: 0;
                    pointer-events: none;
                    border: solid transparent;
                }
                .am-icon-caret-left {
                    position: absolute;
                    left: -0.5rem;
                    top: 0.5rem;
                    background: #e6e6e6;
                }
                .img {
                    width: 6.7rem;
                    height: 6.7rem;
                    position: absolute;
                    text-align: left;
                    left: 1.5rem;
                    top: 50%;
                    margin-top: -4rem;
                    img {
                        border-radius: 50%;
                        height: 100%;
                    }
                }
                .info {
                    padding-left: 9.2rem;
                    display: inline-block;
                    width: 100%;
                    padding-top: 0.2rem;
                    h2 {
                        margin: 0;
                        padding: 0;
                        float: left;
                        color: #333;
                        font-size: 1.6rem;
                        font-weight: normal;
                        margin-right: 0.8rem;
                    }
                    p {
                        width: 100%;
                        display: inline-block;
                        float: left;
                        margin: 0;
                        padding: 0;
                        color: #4d4d4d;
                        font-size: 1.2rem;
                    }
                }
                .pub-btn {
                    width: 100%;
                    display: inline-block;
                    margin-top: 1rem;
                    text-align: right;
                    &.skin0 {
                        width: 107%;
                        margin-top: 2rem;
                        .btn {
                            background: #990100;
                            color: #fff;
                            padding: 0.2rem 2rem;
                            font-size: 1.6rem;
                        }
                    }
                    .btn {
                        display: inline-block;
                        margin-right: 1rem;
                        display: inline-block;
                        border: #990100 solid 1px;
                        padding: 0.2rem 0.8rem;
                        color: #990100;
                        &.btn-end {
                            color: #c6c6c6;
                            border: #c6c6c6 solid 1px;
                        }
                    }
                }
            }
        }
        .day {
            font-size: 2rem;
            text-align: center;
            display: inline-block;
            width: 100%;
            margin: 0.5rem 0 1rem 0;
        }
    }
}

.navbar-footer {
    z-index: 10;
}

.status {
    border: #7d7d7d solid 1px;
    width: 96%;
    display: inline-block;
    height: 15px;
    position: relative;
    margin-top: 0.3rem;
    margin-left: 2%;
    .line {
        width: 100%;
    }
    em {
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: center;
        top: -0.3rem;
        z-index: 1;
    }
    span {
        background: #fc5a58;
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .scale {
        position: absolute;
        text-align: center;
        width: 100%;
        top: -.2rem;
    }
}


/*pub-profile*/

.pub-pinfo {
    width: 100%;
    display: inline-block;
    padding: 1rem 0rem 0rem 0;
    position: relative;
    &.skin0 {
        .img {
            left: 0;
        }
        .info {
            padding-left: 7rem;
        }
    }
    .img {
        width: 5.8rem;
        height: 5.8rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
        img {
            border-radius: 50%;
            border: #fdfdfd solid 2px;
            width: 100%;
            height: 100%;
        }
    }
    .info {
        padding-left: 8.5rem;
        display: inline-block;
        width: 100%;
        padding-top: 0.2rem;
        h2 {
            margin: 0;
            padding: 0;
            float: left;
            color: #333;
            font-size: 1.6rem;
            font-weight: normal;
            margin-right: 0.8rem;
        }
        span {
            float: left;
            display: inline-block;
            margin-top: 0.4rem;
            padding: 0rem 0.6rem;
            font-size: 0.6rem;
            color: #fff;
            &.grade {
                background-color: #bcbcbc;
                padding: 0rem 0.2rem;
                margin-right: 0.2rem;
            }
            &.type {
                background-color: #faa614;
            }
        }
        p {
            width: 100%;
            display: inline-block;
            float: left;
            margin: 0;
            padding: 0;
            color: #4d4d4d;
            font-size: 1.4rem;
        }
    }
    .am-icon-angle-right {
        position: absolute;
        right: 1.5rem;
        top: 1.8rem;
        color: #c8c8c8;
        font-weight: normal;
        font-size: 2.6rem;
    }
}


/*scal*/

.scal {
    width: 100%;
    margin-bottom: 0.5rem;
    &:last-child {
        margin-bottom: 0;
    }
    span {
        color: #4d4d4d;
        margin-right: 0.2rem;
        font-size: 1.4rem;
    }
    a {
        font-size: 1.6rem;
    }
    .am-icon-star {
        color: #990100;
    }
    .am-icon-star-o {
        color: #4d4d4d;
    }
}

.pub-num {
    width: 100%;
    display: inline-block;
    span {
        display: inline-block;
        position: relative;
        top: -0.2rem;
        &:first-child {
            margin-right: 0.3rem;
        }
        &:last-child {
            margin-left: 0.3rem;
        }
    }
    .num {
        border: #7d7d7d solid 1px;
        display: inline-block;
        border-radius: 3px;
        height: 2.6rem;
        a {
            display: inline-block;
            color: #a1a1a1;
            width: 2.4rem;
            text-align: center;
            font-size: 1.8rem;
            height: 100%;
        }
        input {
            width: 3.5rem;
            min-width: 3rem;
            text-align: center;
            background: none;
            border: 0;
            height: 100%;
            position: relative;
            top: -0.2rem;
        }
        .min {
            border-right: #7d7d7d solid 1px;
        }
        .add {
            border-left: #7d7d7d solid 1px;
        }
    }
    .rechargeRange {
        text-align: left;
        color: #990100 !important;
        padding: rem-calc(10px 23px 0px);
    }
}

.pub-ps {
    width: 100%;
    display: inline-block;
    text-align: right;
    padding: 0.5rem 0px;
    color: #990100;
    font-size: 1.2rem;
}

.pub-rbtn {
    width: 100%;
    display: inline-block;
    margin-top: 1rem;
    text-align: right;
    .btn {
        display: inline-block;
        margin-right: 1rem;
        display: inline-block;
        background: #990100;
        color: #fff;
        padding: 0.2rem 2rem;
        font-size: 1.6rem;
        &.end {
            background: #c6c6c6 !important;
        }
    }
}

.pub-wbtn {
    width: 100%;
    display: inline-block;
    margin-top: 1.8rem;
    text-align: right;
    .btn {
        display: inline-block;
        display: inline-block;
        border: #fff solid 1px;
        color: #fff;
        padding: 0.4rem 1rem;
        font-size: 1.6rem;
        border-radius: 3px;
    }
}


/*pub table*/

.table {
    width: 100%;
    display: inline-block;
    border: #898989 solid 1px;
    .memberLevelInfo {
        width: 90%;
        margin: 1rem auto 0;
    }
}

table {
    width: 100%;
    font-size: 1.2rem;
    tr {
        &.col-red {
            td {
                background-color: #ddd;
            }
        }
    }
    .pub-rbtn {
        .btn {
            width: auto;
            padding: 0.2rem 2rem;
            margin-bottom: 0.5rem;
        }
    }
    &.skin0 {
        th {
            color: #fff;
            background: #990100;
        }
    }
    &.skin1 {
        width: 90%;
        margin: 0 auto;
        th {
            color: #717171;
            border-bottom: #898989 solid 1px;
        }
    }
    &.skin2 {
        tr {
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
        td {
            border-bottom: #c5c5c5 solid 1px;
            color: #333;
            padding: 1rem 0;
            &.top {
                color: #666;
                font-size: 0.8rem;
                text-align: left;
                em {
                    font-size: 1.6rem;
                }
                img {
                    width: 40%;
                }
            }
            &.peo {
                text-align: left;
                span {
                    font-size: 1.4rem;
                }
                img {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    margin-right: 0.3rem;
                }
            }
            &.num {
                color: #f45252;
                font-size: 1.8rem;
            }
            &.like {
                color: #666;
                text-align: right;
                p {
                    margin: 0;
                    padding: 0;
                    color: #666;
                    margin-top: -0.4rem;
                }
            }
        }
    }
    th {
        text-align: center;
        padding: 0.5rem 0;
        font-weight: normal;
    }
    td {
        padding: 0.5rem 0;
        color: #717171;
        text-align: center;
        input {
            width: 4rem;
            text-align: center;
        }
    }
}

.pub-countdown {
    width: 100%;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-top: 0rem;
    .am-badge-danger {
        background-color: #990100 !important;
    }
    span {
        color: #707070;
        font-size: 1.2rem;
        i {
            color: #999;
        }
    }
    .am-icon-clock-o {
        font-size: 1.8rem !important;
    }
    .am-badge {
        padding: .15em .125em;
        font-weight: normal;
        border-radius: 3px;
    }
    .am-selected {
        width: auto;
        .am-btn {
            border: 0;
            margin: 0;
            padding: 0 0.8rem 0 0em;
            i {
                color: #d1d1d1;
                padding: 0;
                margin: 0;
                position: relative;
                top: -0.1rem;
                right: 0.3rem;
            }
            &:focus {
                background: none;
            }
        }
    }
    .fl {
        margin-left: 0.5rem;
    }
    .fr {
        margin-top: 0.1rem;
    }
}

.pub_peolist {
    display: inline-block;
    width: 93%;
    margin-left: 4rem;
    a {
        display: block;
        color: #717171;
        border-radius: 3px;
        text-align: center;
        margin-right: 0.6rem;
        padding: 0.2rem 0.6rem;
        margin-top: 0.5rem;
        float: left;
        border: #717171 solid 1px;
        font-size: 1.4rem;
        &.cur {
            background: #990100;
            color: #fff;
            border: 1px solid transparent;
        }
    }
}

.foot_ps {
    width: 100%;
    display: inline-block;
    p {
        text-indent: 1rem;
        margin-bottom: 0.5rem !important;
        width: 100%;
        display: inline-block;
        color: #555;
    }
}

.pub_nodata {
    color: #999;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.8rem;
}

.am-close {
    opacity: 1!important;
}

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1465288521');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1465288521#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1465288521') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1465288521') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1465288521#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
}

.icon-keshi:before {
    content: "\e602";
}

.icon-chudianyu:before {
    content: "\e9db";
}

.icon-yu2:before {
    content: "\e630";
}

.icon-kaluli:before {
    content: "\e603";
}

.icon-xinlv:before {
    content: "\e664";
}

.icon-xiaolv:before {
    content: "\e63a";
}

.icon-paimingicon:before {
    content: "\e61a";
}

.icon-paiming23:before {
    content: "\e609";
}

.icon-paiming21:before {
    content: "\e608";
}

.icon-paiming22:before {
    content: "\e607";
}

.icon-paiming:before {
    content: "\e665";
}
