.course {
    width: 100%;
    display: inline-block;
    padding-bottom: 5.2rem;
    p {
        margin: 0;
        padding: 0;
    }
    ul {}
    em {
        font-style: normal;
    }
    i {
        font-style: normal;
    }
    .pic {
        width: 100%;
        display: inline-block;
        background: #f4f4f4;
        position: relative;
        .am-slider-default .am-control-nav li a {
            background-color: #a1a1a1;
            box-shadow: none;
            &.am-active {
                background-color: #fff;
            }
        }
        .am-slider-default {
            position: relative;
            margin-bottom: 10px;
            .am-direction-nav {
                display: none;
            }
        }
        .am-control-nav {
            position: absolute;
            bottom: 1rem;
        }
        .title {
            width: 100%;
            display: inline-block;
            padding-bottom: 1rem;
            span {
                margin-left: 1rem;
                font-size: 1.6rem;
                color: #707070;
            }
            img {
                width: 5.5rem;
                height: 5.5rem;
                position: absolute;
                right: 1.6rem;
                bottom: 1.5rem;
                border-radius: 50%;
            }
        }
    }
    .info-list {
        margin: 1rem 0;
        ul {
            margin: 0;
            padding: 0;
            width: 85%;
            display: inline-block;
            padding: 0.8rem 0;
            li {
                width: 100%;
                display: inline-block;
                position: relative;
                font-size: 1.2rem;
                padding: 0.4rem 0;
                i {
                    color: #990100;
                    display: block;
                    margin-right: 0.3rem;
                    margin-left: 1.2rem;
                    position: absolute;
                    top: 0.4rem;
                    left: 0;
                }
                span {
                    color: #707070;
                    display: block;
                    margin-right: 0.3rem;
                    margin-left: 2.8rem;
                    border-bottom: #c6c6c6 solid 1px;
                    width: 100%;
                    padding-bottom: 0.2rem;
                    z-index: 9;
                }
                .address-span {
                    padding-right: 4.4rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:last-child {
                    padding-bottom: 0;
                    span {
                        border: 0;
                    }
                }
                &.peo {
                    span {
                        position: absolute;
                        left: 0.0rem;
                        top: 1.6rem;
                    }
                    .am-icon-user {
                        top: 1.5rem;
                    }
                }
                .view-map {
                    position: absolute;
                    right: -2.8rem;
                    top: 0.4rem;
                }
                .pub_peolist {
                    margin-left: 6.5rem;
                    position: relative;
                    z-index: 10;
                }
            }
        }
    }
    .total {
        padding: 0.7rem 0;
        font-size: 1.4rem;
    }
    .price {
        border: #898989 solid 1px;
        .tit {
            width: 90%;
            margin-left: 5%;
            border-bottom: #898989 solid 1px;
            padding-bottom: 0.2rem;
            margin-top: 0.5rem;
            margin-bottom: 0.3rem;
            a {
                font-size: 1.4rem;
                margin-right: 2rem;
                color: #898989;
                em {
                    margin-left: 1rem;
                }
            }
        }
    }
    .code {
        color: #717171;
        width: 90%;
        display: inline-block;
        font-size: 1.4rem;
        position: relative;
        margin: 0.4rem 0;
        margin-left: 5%;
        i {
            position: absolute;
            left: 0rem;
            top: 0rem;
        }
        p {
            display: inline-block;
            margin-left: 1.5rem;
            width: 90%;
        }
    }
    .pub-rbtn {
        .btn {
            width: 10rem;
            padding: 0.5rem 0px;
            text-align: center;
            display: inline-block;
            border: 0;
        }
        .wechatPayment {
            border: 0;
        }
    }
    .pay-info {
        display: inline-block;
        width: 100%;
        border-bottom: #bfbfbf solid 1px;
        padding: 1rem 0 0.7rem 0;
        background: #cecece;
        ul {
            margin: 0;
            padding: 0;
            width: 80%;
            margin: 0 auto;
            li {
                display: inline-block;
                width: 100%;
                margin-bottom: 0.3rem;
                font-size: 1.4rem;
                color: #717171;
            }
            .address-span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .pay-spec {
        display: inline-block;
        width: 100%;
        border-bottom: #bfbfbf solid 1px;
        ul {
            margin: 0;
            padding: 0;
            width: 90%;
            margin: 0 auto;
            li {
                display: inline-block;
                width: 100%;
                border-bottom: #7d7d7d solid 1px;
                position: relative;
                padding: 0.8rem 0;
                &:last-child {
                    border: 0;
                }
                span {
                    font-size: 1.4rem;
                    color: #717171;
                    position: absolute;
                    left: 0;
                    &.peo {
                        top: 2.2rem;
                    }
                }
                em {
                    color: #990100;
                    font-size: 1.4rem;
                    display: inline-block;
                    margin-left: 4rem;
                }
            }
        }
    }
    .sucess {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 4rem;
        .ico {
            // width: 30%;
            max-width: 50%;
            display: inline-block;
            margin-bottom: 0.6rem;
            img {
                max-height: 8rem;
            }
        }
        p {
            font-size: 1.4rem;
            color: #333;
            margin-top: 0.5rem;
            &.tips {
                color: #990100;
                font-size: 2rem;
            }
            &.bottom {
                position: absolute;
                bottom: 0rem;
                left: 0;
                width: 100%;
                text-align: center;
            }
        }
        .btn {
            width: 100%;
            display: inline-block;
            margin-top: 3rem;
            margin-bottom: 3rem;
            a {
                display: inline-block;
                margin-right: 2rem;
                border: #cccccc solid 1px;
                color: #333;
                font-size: 1.6rem;
                padding: 0.5rem 2rem;
            }
        }
    }
    #show-discount-detail {
        background: transparent;
        border: 0;
    }
    .info-body {
        color: #717171;
    }
}

.course-con {
    display: inline-block;
    width: 100%;
    background: #e6e6e6;
    .tit {
        background: #4d4d4d;
        color: #fff;
        font-size: 1.8rem;
        width: 100%;
        text-indent: 1rem;
        padding: 0.6rem 0;
        display: inline-block;
    }
    .con {
        width: 90%;
        margin-left: 5%;
        font-size: 1.4rem;
        color: #707070;
        padding: 0.8rem 0;
        .flow {
            width: 60%;
        }
    }
}
