.product-list {
    //商品列表行高
    $product-item-height-px: 150px !default;
    $product-item-height: rem-calc($product-item-height-px);
    //商品图片规格
    $product-pic-height-px: 100px !default;
    $product-pic-height: rem-calc($product-pic-height-px);
    $product-pic-width: $product-pic-height;
    background-color: $gray-dark;
    .product-item-row {
        padding: 0rem;
        height: $product-item-height;
        line-height: $product-item-height;
        text-align: center;
        .product-pic {
            img {
                height: $product-pic-height;
                width: $product-pic-width;
                border-radius: 50%;
            }
        }
        .product-info {
            text-align: left;
            line-height: initial;
            $title-margin-px: 25px 0px 5px 0px !default;
            $title-margin: rem-calc($title-margin-px);
            .title {
                font-size: $font-size-xxl;
                color: $white;
                margin: $title-margin;
            }
            $price-margin-px: 0px 0px 10px 0px !default;
            $price-margin: rem-calc($price-margin-px);
            .price {
                margin: $price-margin;
                color: $white;
                font-size: $font-size-xl;
            }
            .vipPrice {
                margin: $price-margin;
                color: $white;
                font-size: $font-size-xl;
            }
        }
        .arrow-right {
            color: $white;
        }
    }
}

.product-list>li {
    border: 0rem;
    margin: 0rem 1rem;
    border-bottom: $base-border-line !important;
    background-color: transparent;
}

.product-list>li:last-child {
    border: 0rem !important;
    background-color: transparent;
}
