.profile-bg {
    background-color: #e6e6e6;
}

.profile {
    width: 100%;
    display: inline-block;
    padding-bottom: 4rem;
    .title {
        width: 100%;
        display: none;
        padding: 1rem 0;
        background: #cacaca;
        color: #000;
        font-size: 2rem;
        text-align: center;
        border-bottom: #bfbfbf solid 1px;
    }
    .pub-pinfo {
        width: 100%;
        display: inline-block;
        padding: 1rem 0rem 1.5rem 0;
        position: relative;
        border-bottom: #d3d3d3 solid 1px;
        // .img {
        //     width: 5.8rem;
        //     height: 5.8rem;
        //     position: relative;
        //     left: 1.5rem;
        //     top: 0;
        // }
        img {
            border-radius: 50%;
            border: #fdfdfd solid 2px;
            height: 100%;
            width: 100%;
        }
        .info {
            padding-left: 0rem;
            display: inline-block;
            width: 100%;
            padding-top: 0.8rem;
            h2 {
                margin: 0;
                padding: 0;
                float: left;
                color: #333;
                font-size: 1.8rem;
                font-weight: normal;
                margin-right: 0.8rem;
            }
            span {
                float: left;
                display: inline-block;
                margin-top: 0.4rem;
                padding: 0rem 0.6rem;
                font-size: 0.6rem;
                color: #fff;
                &.grade {
                    background-color: #bcbcbc;
                    padding: 0rem 0.2rem;
                }
                &.type {
                    background-color: #faa614;
                }
            }
            p {
                width: 100%;
                display: inline-block;
                float: left;
                margin: 0;
                padding: 0;
                color: #c7c7c7;
                font-size: 1.8rem;
                margin-top: 0.2rem;
            }
        }
        .am-icon-angle-right {
            position: absolute;
            right: 1.5rem;
            top: 1.8rem;
            color: #c8c8c8;
            font-weight: normal;
            font-size: 2.6rem;
        }
    }
    .profile-btn {
        width: 100%;
        display: inline-block;
        border-bottom: #c6c6c6 solid 1px;
        padding-top: 0.8rem;
        padding-bottom: 0.4rem;
        margin-bottom: 0.5rem;
        ul {
            width: 100%;
            display: inline-block;
            li {
                width: 25% !important;
                float: left;
                text-align: center;
                border-right: #c6c6c6 solid 1px;
                &:last-child {
                    border: 0;
                }
                &:nth-of-type(2n+1) {
                    clear: none;
                }
                a {
                    color: #000;
                    span {
                        font-size: 1.6rem;
                        position: relative;
                        top: -0.3rem;
                    }
                    i {
                        color: #bcbcbc;
                        font-size: 2.4rem;
                        margin-right: 0.5rem;
                        position: relative;
                        top: -0.1rem;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .profile-link {
        width: 100%;
        display: inline-block;
        border-bottom: #c6c6c6 solid 1px;
        padding-top: 0.8rem;
        padding-bottom: 0.4rem;
        ul {
            width: 100%;
            display: inline-block;
            background-color: #e6e6e6;
            margin-bottom: 1rem;
            li {
                border-right: #d2d2d2 solid 1px;
                border-bottom: #d2d2d2 solid 1px;
                padding: 1.2rem 0;
                &:nth-of-type(2n) {
                    border-right: 0;
                }
                a {
                    color: #000;
                    span {
                        font-size: 1.4rem;
                        position: relative;
                        top: -0.3rem;
                    }
                    i {
                        color: #990100;
                        font-size: 2.4rem;
                        margin-right: 0.5rem;
                        position: relative;
                        top: -0.1rem;
                        display: inline-block;
                        margin-left: 3rem;
                    }
                }
            }
        }
    }
}


/*edit profile*/

.edit-profile {
    .head-logo {
        width: 100%;
        display: inline-block;
        padding: 0;
        .am-form-file {
            // float: left;
            text-align: left;
            margin-left: 2rem;
            position: relative;
            top: 1rem;
        }
        p {
            float: right;
            width: auto;
            font-size: 1.8rem;
            margin-right: 2rem;
            margin-top: 2.6rem;
            color: #333
        }
    }
    hr {
        display: block;
        height: 12px;
        background: #cacaca;
        border-bottom: #c2c2c2 solid 1px;
        border-top: #c2c2c2 solid 1px;
    }
    .am-cf .submit input {
        margin-top: 0;
    }
    .am-form {
        ul {
            li {
                width: 100%;
                span {
                    &.tit {
                        margin-left: 1rem;
                    }
                }
                &:last-child {
                    margin-bottom: -1rem;
                    border: 0;
                }
                input {
                    text-align: right
                }
                #demo-test-select_dummy {
                    display: none;
                }
                #demo-test-select {
                    display: none;
                }
            }
        }
    }
    .unit {
        padding-right: 2rem;
        .unit-span {
            right: 0;
            margin-right: 6px;
            position: absolute;
            top: 0.0rem;
            color: #a1a1a1;
            font-size: 1.6rem;
        }
    }
}

.single-class {
    width: 85%;
    margin: 0 auto;
}

.submit-class {
    width: 100%;
}

.profile-coupon {
    width: 90%;
    margin-left: 5%;
    padding-top: 4rem;
    .tit {
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
    }
    p {
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
        margin: 1rem 0;
    }
}

.profile-message {
    width: 100%;
    display: inline-block;
    dl {
        margin: 0;
        padding: 0;
        border-bottom: #c5c5c5 solid 1px;
        padding-bottom: 1rem;
        margin-top: 1rem;
        &:last-child {
            border-bottom: 0;
        }
        dt {
            margin: 0;
            padding: 0;
            width: 90%;
            display: inline-block;
            margin-left: 5%;
            margin-right: 5%;
            position: relative;
            .fl {
                width: auto;
                span {
                    font-size: 1.6rem;
                    font-weight: normal;
                    margin-left: 0.5rem;
                    color: #333;
                    display: inline-block;
                }
                .am-badge {
                    position: absolute;
                    left: 1.8rem;
                    top: -0.2rem;
                    border-radius: 50%;
                    color: #fff;
                    background: #990100;
                    font-weight: normal;
                    padding: 0.2em 0.4em;
                    font-size: 1.2rem !important;
                }
            }
            .fr {
                margin-top: 0.3rem;
                span {
                    color: #666;
                    font-weight: normal;
                    font-size: 1.3rem;
                    a {
                        color: #666;
                    }
                    i {
                        margin-left: 0.5rem;
                        font-weight: normal;
                    }
                }
            }
            img {
                width: 18%;
                border-radius: 50%;
                display: inline-block;
            }
        }
        dd {
            margin: 0;
            padding: 0;
            width: 90%;
            display: inline-block;
            margin-left: 5%;
            margin-right: 5%;
            color: #666;
            font-size: 1.4rem;
        }
    }
    .am-badge.am-badge-danger {
        display: none;
    }
    .noRead {
        .am-badge.am-badge-danger {
            display: inline-block;
        }
    }
}

.pub-price {
    width: 100%;
    display: inline-block;
    background: #cacaca;
    padding: 0.8rem 0;
    margin-top: 1.5rem;
    .pub-num {
        margin-bottom: 0.8rem;
        border-bottom: #a8a8a8 solid 1px;
        padding-bottom: 0.8rem;
        span {
            color: #666;
            font-size: 1.4rem;
            margin-left: 1.6rem;
            &.ml0 {
                margin-left: 0;
            }
        }
        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.ranking-list {
    width: 100%;
    display: inline-block;
    padding-bottom: 5rem;
    padding-top: 0;
}

.myrank .am-icon-heart-o:before {
    content: "\f004";
}

.rank-list .am-icon-heart-o {
    &.cur {
        &:before {
            content: "\f004";
        }
    }
}

.fixed_btn {
    position: fixed;
    right: 0.5rem;
    bottom: 0;
    z-index: 99
}

@import './profile/heartrate';
@import './profile/calories';
@import './profile/holopoint';
@import './profile/myReflection';
