.till{
	width:100%;display: inline-block;padding-bottom: 4rem;
	.status{
		margin-top: -0.82rem !important;margin-bottom: 0.2rem !important;
	}
	&.skin0{
		ul{
			li{
				.info{
					.tit{
						p{
							&:first-child{
								font-size: 1.4rem !important;margin-top: 1.4rem;color: #333 !important;
							}
						}
					}
				}
			}
		}
	}
	ul{
		margin: 0;padding: 0;width:100%;display: inline-block;
		li{
			width:100%;display: inline-block;margin-bottom: 1rem;
			&:first-child{
				.status{
					margin-top:0.7rem !important;
				}
			}
			.pic{
				width: 100%;display: inline-block;position: relative;
				p{
					width: 100%;text-align: center;color: #fff;position: absolute;top: 50%;font-size: 3rem;
					margin-top: -2rem;
				}
				.peo{
					position: absolute;bottom:-1rem;left:1rem;border-radius:100px;width:16%;
					z-index: 1;
				}
			}
			.info{
				width:100%;display: inline-block;background: #e6e6e6;position: relative;
				.tit{
					margin-left: 1rem;color: #717171 !important;font-size: 1.2rem;margin-top: 0.5rem;
					p{
						em{
							font-size: 2rem;margin-right: 0.5rem;
						}
					}
					.pub-countdown{
						margin-top: 0em;
						.fl{
							margin-left: 0;
						}
					}
				}
				.pub-btn{
					position: absolute;top: 50%;right: 0;
					margin-top: -2.5rem;width:100%;text-align: right;
					&.skin0{
						position: relative;margin-bottom: 1.5rem;
						.btn{
							padding: 0.2rem 1.2rem;border-radius: 0px;
						}
					}
					.btn {
                        display: inline-block;border-radius: 5px;
                        margin-right: 1rem;
                        display: inline-block;
                        border: #f73f3f solid 1px;
                        padding: 0.4rem 1.2rem;font-size: 1.4rem;
                        color: #f73f3f;
                    }
                    img{
                    	width: 18%;margin-right: 1rem;margin-top: 0.5rem;
                    }
				}
			}
		}
	}
}

#trainers {
	li{
		width:100%;display:inline-block;margin-bottom:1rem;
		img{
			border-radius:100px;border:#fff solid 2px;display:inline-block;
		}
		h2{
			background:#f73f3f;padding:0.1rem 0.5rem;color:#fff;font-size:1rem;display:inline-block;margin-left:1rem;
		}
		p{
			width:100%;display:inline-block;
		}
	}
}
